<nav class="navbar bg-light sticky-top" id="admin-layout">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#adminLayout"
      aria-controls="adminLayout"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-start text-bg-dark"
      tabindex="-1"
      id="adminLayout"
      aria-labelledby="adminLayoutLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="adminLayoutLabel">Yönetim Paneli</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
          <li *ngFor="let item of nameList">
            <a
              class="d-flex w-100 align-items-center fw-semibold"
              (click)="handleItemClick(item)"
              aria-expanded="openSubItems[item.name]"
              aria-label="Close"
              [attr.data-bs-dismiss]="item.subItems ? null : 'offcanvas'"
            >
              {{ item.name }}
            </a>
            <hr />
            <div
              *ngIf="item.subItems && openSubItems[item.name]"
              class="collapse show"
            >
              <ul class="list-unstyled ps-3">
                <li *ngFor="let subItem of item.subItems">
                  <strong class="d-flex w-100 align-items-center fw-semibold">
                    <a
                      [routerLink]="subItem.routerLink"
                      class="nav-link"
                      data-bs-dismiss="offcanvas"
                      aria-label="Close"
                    >
                      {{ subItem.name }}
                    </a>
                  </strong>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
