.q-subheader {
  height: 51px;
  border: 0;
  position: relative;
}
.updt-pass-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  color: #333;
}
#update-password .form-outline input {
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  outline: none;
  background-color: #ebebeb;
  text-indent: 11px;
  width: 100%;
}
#update-password a {
  text-decoration: none;
  color: #3b71ca;
  cursor: pointer;
}
#updt-pass label,
#updt-pass span,
#updt-pass .card-footer a {
  color: darkblue;
}
#updt-pass .top-item {
  --bs-bg-opacity: 1;
  padding: 10px;
}
#updt-pass .toptitle {
  color: darkblue;
  font-weight: 600;
  white-space: nowrap;
}
#sifre {
  position: relative;
}
#update-password .form-outline input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
}
#updt-pass .form-outline .toggle-password {
  position: absolute;
  width: 35px;
  height: 40px;
  top: 2rem;
  right: 2px;
  border-radius: 50%;
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
}
