<main id="updt-pass">
  <div class="container">
    <div class="row">
      <div class="q-subheader">
        <div class="col-md-6 mx-auto">
          <div class="d-flex justify-content-between top-item">
            <a [routerLink]="['/hesabim']">
              <i class="fa-solid fa-chevron-left fa-xl"></i>
            </a>
            <p class="toptitle my-auto">Şifremi Güncelle</p>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="mt-2">
    <div>
      <div class="row d-flex">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div id="update-password" class="card">
            <div class="card-body p-5">
              <form [formGroup]="updatePass" (ngSubmit)="updatePassword()">
                <div class="mb-md-5 mt-md-4">
                  <div class="form-outline mb-4" id="sifre">
                    <label for="currentPassword" class="updt-pass-label ms-2"
                      >Mevcut Şifre</label
                    >
                    <input
                      type="password"
                      id="currentPassword"
                      formControlName="currentPassword"
                      class="form-control form-control-md"
                      [type]="crpas ? 'text' : 'password'"
                    />
                    <ng-content select="selector"></ng-content>
                    <div
                      *ngIf="
                        updatePass.get('currentPassword').value?.length > 0
                      "
                      class="toggle-password"
                      (click)="showPass('crpass')"
                    >
                      <i
                        style="color: black"
                        class="fa"
                        [class]="{
                          'fa-eye': crpas,
                          'fa-eye-slash': !crpas
                        }"
                      ></i>
                    </div>
                  </div>
                  <div class="form-outline mb-4" id="sifre">
                    <label for="password" class="updt-pass-label ms-2"
                      >Yeni Şifre</label
                    >
                    <input
                      type="password"
                      id="password"
                      formControlName="password"
                      class="form-control form-control-md"
                      [type]="show ? 'text' : 'password'"
                    />
                    <div
                      *ngIf="updatePass.get('password').value?.length > 0"
                      class="toggle-password"
                      (click)="showPass('pass')"
                    >
                      <i
                        style="color: black"
                        class="fa"
                        [class]="{ 'fa-eye': show, 'fa-eye-slash': !show }"
                      ></i>
                    </div>

                    <span
                      *ngIf="
                        updatePass.get('currentPassword')?.value?.length > 1 &&
                        updatePass.get('currentPassword')?.value ===
                          updatePass.get('password')?.value
                      "
                      >Yeni şifre mevcut şifre ile aynı olamaz</span
                    >
                  </div>
                  <div class="form-outline mb-4" id="sifre">
                    <label for="passwordConfirm" class="updt-pass-label ms-2"
                      >Yeni Şifre(Tekrar)</label
                    >
                    <input
                      type="password"
                      id="passwordConfirm"
                      formControlName="passwordConfirm"
                      class="form-control form-control-md"
                      [type]="shw ? 'text' : 'password'"
                    />
                    <div
                      *ngIf="
                        updatePass.get('passwordConfirm').value?.length > 0
                      "
                      class="toggle-password"
                      (click)="showPass('pcf')"
                    >
                      <i
                        style="color: black"
                        class="fa"
                        [class]="{ 'fa-eye': shw, 'fa-eye-slash': !shw }"
                      ></i>
                    </div>
                  </div>
                  <span
                    *ngIf="
                      updatePass.get('passwordConfirm').value?.length > 0 &&
                      updatePass.get('password')?.value !==
                        updatePass.get('passwordConfirm')?.value
                    "
                    >Şifreler birbiriyle uyuşmuyor.</span
                  >
                  <button
                    [disabled]="
                      updatePass.get('currentPassword').value?.length > 7 &&
                      updatePass.get('currentPassword')?.value ===
                        updatePass.get('password')?.value
                    "
                    class="btn btn-danger w-100 mt-3"
                  >
                    <span class="text-white"> Şifremi Yenile </span>
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="">
                <div class="d-flex justify-content-between">
                  <p class="mb-0">
                    <a [routerLink]="['/']" class="fw-bold">Anasayfa</a>
                  </p>
                  <p class="mb-0">
                    <a [routerLink]="['/hesabim']" class="fw-bold">Hesabım</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
