<footer class="text-center text-lg-start bg-light position-bottom">
  <section
    class="d-flex justify-content-center justify-content-lg-between border-bottom"
  >
    <div class="container text-center text-md-start mt-2">
      <div id="footer-text" class="row mt-3">
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-capitalize fw-bold mb-4">Bizimle İletişime Geçin</h6>
          <p>
            <i class="fas fa-home me-3"></i>
            <a href="https://goo.gl/maps/8CinhD1zSLNn3Dti7" target="_blank"
              >Fatih Mahallesi 57. Ziraat Caddesi 27 A Aksaray/Türkiye
            </a>
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="mailto:eylulmodalife@gmail.com" title="mail"
              >eylulmodalife&#64;gmail.com</a
            >
          </p>
          <p>
            <i class="fas fa-phone me-3"></i>
            <a href="tel:+905418710158"> +90 541 871 01 58</a>
          </p>
          <p>
            <i class="fa-brands fa-whatsapp me-3 fa-lg"></i>
            <a href="https://wa.me/+905418710158">+90 541 871 01 58</a>
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Yardım</h6>
          <p>
            <a [routerLink]="['faq']">Sıkça sorulan sorular</a>
          </p>
          <p>
            <a href="#!">Site Haritası</a>
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-capitalize fw-bold mb-4">Politikalar</h6>
          <p>
            <a
              [routerLink]="['/aydinlatma-metni']"
              routerLinkActive="router-link-active"
              >Aydınlatma Metni</a
            >
          </p>
          <p>
            <a
              [routerLink]="['/veri-gizliligi']"
              routerLinkActive="router-link-active"
              >Veri Gizliliği</a
            >
          </p>
          <p>
            <a
              [routerLink]="['/mesafeli-satis']"
              routerLinkActive="router-link-active"
              >Mesafeli Satış Sözleşmesi</a
            >
          </p>
          <p>
            <a
              [routerLink]="['/iade-degisim']"
              routerLinkActive="router-link-active"
              >İade ve Değişim</a
            >
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">Sosyal Medya Hesaplarımız</h6>
          <div>
            <a
              href=""
              aria-label="facebook'da takip et"
              class="me-4 text-reset"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" aria-label="twitter'da takip et" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" aria-label="google'da takip et" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a
              href="https://www.instagram.com/eylull_modaa"
              target="_blank"
              aria-label="bizi instagram'da takip et"
              routerLinkActive="router-link-active"
              class="me-4 text-reset"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    Bu E-Ticaret Sitesi
    <a
      href="https://wa.me/+905539370868/?text=Merhaba, web sitesi tasarlatmak istiyorum."
      class="text-dark"
      style="text-decoration: none"
      >Oğuzhan Atılgan</a
    >
    tarafından ❤️ ile tasarlanmıştır.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
