<div id="aydinlatma-metni" class="container">
  <br />

  <strong
    >EYLÜL GİYİM MAĞAZACILIK HİZMETLERİ TİCARET A.Ş.<br />
    MÜŞTERİLERİ&nbsp;KİŞİSEL VERİLERİN KORUNMASI HAKKINDA AYDINLATMA
    METNİ</strong
  ><br />
  <br />
  <br />
  <strong>A. Veri Sorumlusu</strong><br />
  6698 sayılı Kişisel Verilerin Korunması Kanunu (“<strong>Kanun</strong>”)
  uyarınca, kişisel verileriniz; veri sorumlusu olarak Eylül Modalife
  Mağazacılık Hizmetleri Ticaret Anonim Şirketi (“<strong>Eylül Modalife</strong
  >” veya “<strong>Şirket</strong>”) tarafından aşağıda açıklanan kapsamda
  işlenebilecektir.<br />
  &nbsp;<br />
  Kişisel verilerinizin gizliliği ve güvenliği bizler için önemli olup,
  korunması için özen göstermekteyiz. Eylül Modalife olarak, kişisel
  verilerinizi Kanun’a uygun olarak işlemekte ve muhafaza etmekteyiz.<br />
  &nbsp;<br />
  <strong>B. İşlenen Kişisel Veriler</strong><br />
  Aşağıda belirtilen Kişisel Veri Toplamanın Yöntemlerinden biri ile
  Şirketimizle temas etmeniz halinde işlenebilecek kişisel verilerinize ilişkin
  açıklamalar aşağıda yer almaktadır:<br />
  &nbsp;
  <table
    class="table table-responsive-sm table-bordered"
    cellpadding="0"
    cellspacing="0"
  >
    <tbody>
      <tr>
        <td><strong>Kişisel Veri Kategorileri</strong></td>
      </tr>
      <tr>
        <td>Kimlik Bilgileri</td>
      </tr>
      <tr>
        <td>İletişim Bilgileri</td>
      </tr>
      <tr>
        <td>Lokasyon Bilgileri</td>
      </tr>
      <tr>
        <td>Müşteri İşlem Bilgileri</td>
      </tr>
      <tr>
        <td>Finansal Bilgiler</td>
      </tr>
      <tr>
        <td>Fiziksel Mekan Güvenliği Bilgileri</td>
      </tr>
      <tr>
        <td>İşlem Güvenliği Bilgileri</td>
      </tr>
      <tr>
        <td>Pazarlama Bilgileri</td>
      </tr>
      <tr>
        <td>Görsel ve İşitsel Kayıtlar</td>
      </tr>
    </tbody>
  </table>
  &nbsp;<br />
  Banka bilgisi, banka kartı veya kredi kartı numarası, son kullanım tarihi ve
  CVV kodu gibi kredi kartı bilgileriniz satış sırasında işlenmekte ise de bu
  veriler Eylül Modalife tarafından saklanmamaktadır. Eylül Modalife tarafından
  ilgili mevzuata uygun olarak satış kayıtlarının saklanması, iade ve değişim
  gibi satış işleminize ilişkin taleplerin yerine getirilebilmesi amaçlarıyla
  sınırlı finansal bilgileriniz (ör: kart numaranızın son 4 hanesi, banka
  bilgisi, IBAN numarası) işlenmektedir.<br />
  &nbsp;<br />
  <strong>Çerezler:</strong>&nbsp;Sitemizde kullanılan çerezler vasıtasıyla
  kişisel verilerinizin işlenmesine ilişkin bilgilere,&nbsp;<a tabindex="1"
    ><em>Çerez Aydınlatma Metni</em></a
  >’nden ulaşabilirsiniz.<br />
  &nbsp;<br />
  <strong>C. Kişisel Verilerin Hangi Amaçla İşleneceği</strong><br />
  Kişisel verileriniz Kanun’un 4. maddesinde belirlenen genel ilkeler uyarınca,
  hukuka ve dürüstlük kurallarına uygun, doğru ve gerektiğinde güncel, belirli,
  açık ve meşru amaçlar için, işlendikleri amaçla bağlantılı, sınırlı ve ölçülü
  ve ilgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre
  kadar muhafaza edilerek işlenmektedir.<br />
  &nbsp;<br />
  Toplanan kişisel verileriniz, aşağıda yer verilen amaçlarla
  (“<strong>Amaçlar</strong>”) Kanun’un 5. maddesinde belirtilen kişisel veri
  işleme şartları ve amaçları dahilinde işlenecektir.<br />
  &nbsp;<br />
  <strong>Amaçlar</strong>

  <ul>
    <li>
      Şirketimiz ürün ve hizmetlerinin mağazalarımız, internet sitemiz ve mobil
      uygulama kanallarımız üzerinden tarafınıza sunulması ve satış işlemlerinin
      gerçekleştirilmesi,
    </li>
    <li>
      Şirketimizin ürün ve hizmetlerine ilişkin satış sözleşmelerinin kurulması,
      faturalama işlemlerinin yürütülmesi,
    </li>
    <li>
      Finansal ve satış kayıtlarının takibi ile ilgili işlemlerin ve taleplerin
      yönetimi,
    </li>
    <li>Satış kayıtlarının saklanması,</li>
    <li>
      İade ve değişim gibi satış işleminize ilişkin taleplerin yerine
      getirilebilmesi,
    </li>
    <li>İade işlemlerinde müşterilerimize para iadesi gerçekleştirilmesi,</li>
    <li>
      Çevrimiçi hizmetler aracılığıyla siparişleri, sipariş ve teslimat
      süreçlerini yürütülmesi, tamamlanması ve müşterilerimizle ilgili
      iletişimin sağlanması,
    </li>
    <li>
      Satış sonrası destek hizmetlerinin ve garanti süreçlerinin yerine
      getirilmesi,
    </li>
    <li>
      İade ve değişim işlemlerinde müşterilerimize özel avantaj ve kolaylıkların
      sağlanması,
    </li>
    <li>
      Üyelik hesabının kapatılması/silinmesi işlemlerinde müşterilerimize para
      iadesi gerçekleştirilmesi,
    </li>
    <li>
      Eylül Modalife tarafından yürütülen ticari faaliyetlerin
      gerçekleştirilmesi için ilgili iş birimlerimiz tarafından gerekli
      çalışmaların yapılması, iş stratejilerinin planlanması ve buna bağlı iş
      süreçlerinin yürütülmesi,
    </li>
    <li>
      Üyelik oluşturmanız halinde; site veya mobil uygulamamız üzerinden üyelik
      hesaplarının oluşturulması ve üyelik işlemlerinin yürütülmesi,
    </li>
    <li>
      Üyelik oluşturmanız halinde; site veya mobil uygulama üzerinden alışveriş
      yapmak ve/veya Şirketimiz tarafından sunulan kampanyalardan ve sair
      menfaatlerden faydalanmanızın sağlanması için gerekli olması halinde
      yaşınızın doğrulanması,
    </li>
    <li>
      Sipariş süreçlerinin yürütülmesi, satın alınan ürünlerin teslimat durumuna
      ve hizmet değişikliğine ilişkin bilgilendirmelerin yapılması, talep
      halinde güncel ürün stok bilgilerine ilişkin iletişim faaliyetlerinin
      gerçekleştirilmesi,
    </li>
    <li>
      Site veya mobil uygulama üzerinden yorum ekleme imkanının sağlanması,
      yorumlarınızın yayınlanması ve yorumlarınızın yayınlandığına ya da
      yayınlanmadığına ilişkin bilgilendirmenin yapılması,
    </li>
    <li>
      Site veya mobil uygulamanın güvenliğinin sağlanmasına yönelik kontrollerin
      yapılması, bilgi güvenliği açısından güçlendirme çalışmalarının
      gerçekleştirilmesi,
    </li>
    <li>
      Ürün ve hizmetlerimizin satış ve pazarlama faaliyetleri dahil olmak üzere
      Şirketimiz tarafından sunulan ürün ve hizmetlerden ilgili kişileri
      faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından
      yapılması ve ilgili iş süreçlerinin yürütülmesi,
    </li>
    <li>
      Müşteri ilişkilerinin yönetimi ve müşteri iletişim bilgilerinin
      güncelliğinin ve doğruluğunun sağlanması,
    </li>
    <li>
      Tüketicinin Korunması Hakkında Kanun, Perakende Ticaretin Düzenlenmesi
      Hakkında Kanun ve Elektronik Ticaretin Düzenlenmesi Hakkında Kanun başta
      olmak üzere Şirketimizin tabi olduğu hukuki yükümlülüklerin yerine
      getirilmesi,
    </li>
    <li>
      Yetkili kuruluşlara mevzuattan kaynaklı bilgi verilmesi ve resmi kurum
      taleplerinin yerine getirilmesi,
    </li>
    <li>
      Şirketimizin ve Şirketimiz ile iş ilişkisi içerisinde olan ilgili
      kişilerin hukuki, teknik, ticari ve iş güvenliğinin temini,
    </li>
    <li>
      Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve uygulanması,
    </li>
    <li>Muhasebe ve finans süreçlerinin yürütülmesi,</li>
    <li>
      Talep ve şikayetlerinizin alınması, değerlendirilmesi ve sonuçlandırılması
      ile müşteri ilişkilerinin yönetimi, dijital asistanlık hizmeti sunulması,
    </li>
    <li>
      Talep ve şikayetlerinizin çözümlendirilmesi ve tekrar yaşanmaması için
      gerekli tüm araştırma, geliştirme, düzeltici ve önleyici faaliyetlerinin
      yürütülmesi için gerekli çalışmaların iş birimlerimiz tarafından yapılması
      ve ilgili iş süreçlerinin yürütülmesi,
    </li>
    <li>Müşteri kazanım faaliyetlerinin gerçekleştirilmesi,</li>
    <li>
      Eylül Modalife tarafından gerçekleştirilen ticari faaliyetlerin
      yürütülmesi kapsamında iş ilişkisi içerisine girilen 3. gerçek veya tüzel
      kişilere bilgi temini sağlanması,
    </li>
    <li>Şirketimizin çalışanlarını personel indiriminden yararlandırmak,</li>
    <li>
      Müşteri memnuniyeti ve kurumsal iletişim faaliyetlerinin planlanması ve
      icrası,
    </li>
    <li>
      Çekiliş, kampanya, yarışma, promosyon veya reklam aktivitelerinin
      gerçekleştirilmesi, bu kapsamda ilgili aktiviteye katılım koşullarının
      sağlanıp sağlanmadığının kontrolü,
    </li>
    <li>
      Şirketin bölünmesi ya da tamamının veya bir kısmının başka bir firmaya
      devredilmesi halinde söz konusu hukuki işlemlerden doğan sonuçların
      temini,
    </li>
    <li>
      Hukuk işlerinin takibi ve yürütülmesi ile ileride meydana gelmesi muhtemel
      olası uyuşmazlıklarda delil teşkil etmesi amacı ile kişisel verilerin
      genel zamanaşımı süresince saklanması,
    </li>
    <li>
      Şirketimiz tarafından işlenen kişisel verileriniz ile ilgili olarak
      Kanun’un 11. maddesinde belirtilen haklarınızın kullanılması kapsamında
      Şirket’e iletmiş olduğunuz başvurularınıza ilişkin değerlendirmelerin
      yapılması ve mevzuata uygun olarak sonuçlandırılması ile bu çerçevede
      gerekli işlemlerin gerçekleştirilmesi,
    </li>
    <li>Mevzuatta öngörülen saklama yükümlülüklerine uygunluğun sağlanması.</li>
  </ul>
  &nbsp;<br />
  <strong><em>Açık rızanızı vermeniz halinde,</em></strong>

  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <ul>
            <li>
              Sizlerle iletişime geçilerek Şirketimizin ürün ve hizmetlerinin
              pazarlama süreçlerinin gerçekleştirilmesi, profilleme ve analiz
              faaliyetleri dahil Şirketimiz tarafından sunulan ürün ve
              hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve
              ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve
              tanıtılması,
            </li>
          </ul>
        </td>
        <td>&nbsp;</td>
        <td>
          <em
            >Kimlik Bilgileri, İletişim Bilgileri, Müşteri İşlem Bilgileri,
            Pazarlama Bilgileri</em
          >
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              Site, mobil uygulama veya mağazalarımızdaki alışveriş
              tercihlerinizin (ziyaretler, siparişler vb.) analiz edilmesi,
            </li>
          </ul>
        </td>
        <td>&nbsp;</td>
        <td>
          <em>Kimlik Bilgileri, İletişim Bilgileri, Müşteri İşlem Bilgileri</em>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              Müşteri memnuniyetine yönelik anket, araştırma ve analiz
              çalışmalarının yapılması,
            </li>
          </ul>
        </td>
        <td>&nbsp;</td>
        <td>
          &nbsp;<br />
          &nbsp;<br />
          <em
            >Kimlik Bilgileri, İletişim Bilgileri, Müşteri İşlem Bilgileri,
            Pazarlama Bilgileri</em
          >
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
          <ul>
            <li>
              Ticari İletişim ve Ticari Elektronik İletiler Hakkında
              Yönetmelik’e uygun olarak koleksiyon tanıtımları, kataloglar,
              etkinlikler, tanıtımlar, bültenler, indirimler, kazanılan puanlar,
              hediye çekleri, kulüp üyelikleri, kampanyalar ve promosyonlara
              ilişkin bilgilendirme iletişimlerinin ve ticari elektronik ileti
              gönderimlerinin gerçekleştirilmesi.
            </li>
          </ul>
        </td>
        <td>&nbsp;</td>
        <td>
          <em
            >Kimlik Bilgileri, İletişim Bilgileri, Müşteri İşlem Bilgileri,
            Pazarlama Bilgileri</em
          >
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <strong
    >D. İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçlarla
    Aktarılabileceği</strong
  ><br />
  Yukarıda yer alan Amaçlar’ın yerine getirilmesi doğrultusunda toplanan kişisel
  verileriniz; Kanun’un 5. ve 6. maddelerinde düzenlenen veri işleme şartları
  kapsamında Kanun’un 8. ve 9. maddelerinde belirtilen kişisel verilerin
  aktarılmasına ilişkin kurallara uygun olarak aşağıda belirtilen taraflara
  aktarılabilecektir:
  <ul>
    <li>
      Meşru menfaatlerimiz kapsamında hizmet tedarik ettiğimiz tedarikçi
      firmalar (kargo, çağrı merkezi, araştırma firmaları, reklam ajansları vb.)
      ve diğer teknik hizmet sağlayıcılara (altyapı, veritabanı yönetimi vb.
      hizmet sağlayıcılar),
    </li>
    <li>
      Şirketin bölünmesi ya da tamamının veya bir kısmının başka bir firmaya
      devredilmesi halinde söz konusu hukuki işlemlerden doğan sonuçların temini
      amacıyla Şirket’e ait ilgili değerlerin intikal edeceği firmaya,
    </li>
    <li>
      Kanunlarda açıkça öngörülmesi ve hukuki yükümlülüklerimizin yerine
      getirilmesi kapsamında kanunen yetkili kamu kurumlarına ve kanunen yetkili
      özel kişilere ve
    </li>
    <li>
      Açık rızanızı vermeniz halinde; kimlik ve iletişim verileriniz, satış
      sonrası destek hizmetlerinin sağlanması, talep ve şikayetlerinizin
      alınması, değerlendirilmesi ve sonuçlandırılması, müşteri ilişkilerinin
      yönetimi ve dijital asistanlık hizmeti sunulması amaçlarıyla yurt dışından
      mukim tedarikçi WhatsApp Llc’ye.
    </li>
  </ul>
  <strong>E. Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</strong><br />
  Toplanan kişisel verilerinizin neler olduğu;&nbsp;Eylül
  Modalife&nbsp;tarafından verilen hizmet, ürün ya da ticari faaliyete veya
  tarafınızla aramızda kurulan sözleşme içeriğine bağlı olarak değişkenlik
  gösterebilmekle; otomatik ya da otomatik olmayan yöntemlerle, fiziki ortamda
  satış mağazaları, ofisler, şubeler, üzerinden iletişime geçtiğiniz hallerde
  gerçekleştirilen görüşmeler ve formlar kanalıyla, elektronik ortamda çağrı
  merkezi, internet sitesi, sosyal medya mecraları, iletişim uygulamaları, mobil
  uygulamalar, üyelik ve satış formları gibi çevrimiçi formlar ve yorum alanları
  yöntemleriyle sözlü ya da yazılı olarak toplanabilmektedir.<br />
  <br />
  Kişisel verileriniz aşağıdaki amaçlar ve hukuki sebeplerle Eylül Modalife
  tarafından Kanun’un 5. maddesinde belirtilen kişisel veri işleme şartlarına
  dayalı olarak toplanmakta ve işlenmektedir.<br />
  <br />
  <strong
    ><em
      >Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması
      kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin
      gerekli olması hukuki sebebine dayalı olarak;</em
    ></strong
  >

  <ul>
    <li>
      Şirketimiz ürün ve hizmetlerinin mağazalarımız, internet sitemiz ve mobil
      uygulama kanallarımız üzerinden tarafınıza sunulması ve satış işlemlerinin
      gerçekleştirilmesi,
    </li>
    <li>
      Şirketimizin ürün ve hizmetlerine ilişkin satış sözleşmelerinin kurulması,
      faturalama işlemlerinin yürütülmesi,
    </li>
    <li>
      Çevrimiçi hizmetler aracılığıyla siparişleri, sipariş ve teslimat
      süreçlerini yürütülmesi, tamamlanması ve müşterilerimizle ilgili
      iletişimin sağlanması,
    </li>
    <li>
      İade ve değişim gibi satış işleminize ilişkin taleplerin yerine
      getirilebilmesi,
    </li>
    <li>
      Satış sonrası destek hizmetlerinin ve garanti süreçlerinin yerine
      getirilmesi,
    </li>
    <li>
      Üyelik oluşturmanız halinde; site veya mobil uygulamamız üzerinden üyelik
      hesaplarının oluşturulması ve üyelik işlemlerinin yürütülmesi,
    </li>
    <li>
      Üyelik oluşturmanız halinde; site veya mobil uygulama üzerinden alışveriş
      yapmak ve/veya Şirketimiz tarafından sunulan kampanyalardan ve sair
      menfaatlerden faydalanmanızın sağlanması için gerekli olması halinde
      yaşınızın doğrulanması,
    </li>
    <li>
      Sipariş süreçlerinin yürütülmesi, satın alınan ürünlerin teslimat durumuna
      ve hizmet değişikliğine ilişkin bilgilendirmelerin yapılması, talep
      halinde güncel ürün stok bilgilerine ilişkin iletişim faaliyetlerinin
      gerçekleştirilmesi.
    </li>
  </ul>
  <strong
    ><em
      >Kanunlarca açıkça öngörülmesi ve veri sorumlusunun hukuki yükümlülüğünü
      yerine getirebilmesi için zorunlu olması hukuki sebebine dayalı
      olarak;</em
    ></strong
  >

  <ul>
    <li>
      Tüketicinin Korunması Hakkında Kanun, Perakende Ticaretin Düzenlenmesi
      Hakkında Kanun ve Elektronik Ticaretin Düzenlenmesi Hakkında Kanun başta
      olmak üzere Şirketimizin tabi olduğu hukuki yükümlülüklerin yerine
      getirilmesi,
    </li>
    <li>Satış kayıtlarının saklanması,</li>
    <li>
      Yetkili kuruluşlara mevzuattan kaynaklı bilgi verilmesi ve resmi kurum
      taleplerinin yerine getirilmesi,
    </li>
    <li>Mevzuatta öngörülen saklama yükümlülüklerine uygunluğun sağlanması,</li>
    <li>
      Şirketimiz tarafından işlenen kişisel verileriniz ile ilgili olarak
      Kanun’un 11. maddesinde belirtilen haklarınızın kullanılması kapsamında
      Şirket’e iletmiş olduğunuz başvurularınıza ilişkin değerlendirmelerin
      yapılması ve mevzuata uygun olarak sonuçlandırılması ile bu çerçevede
      gerekli işlemlerin gerçekleştirilmesi.
    </li>
  </ul>
  <strong
    ><em
      >Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin
      zorunlu olması hukuki sebebine dayalı olarak;</em
    ></strong
  >

  <ul>
    <li>
      Talep ve şikayetlerinizin alınması, değerlendirilmesi ve sonuçlandırılması
      ile müşteri ilişkilerinin yönetimi, dijital asistanlık hizmeti sunulması,
    </li>
    <li>
      Hukuk işlerinin takibi ve yürütülmesi ile ileride meydana gelmesi muhtemel
      olası uyuşmazlıklarda delil teşkil etmesi amacı ile kişisel verilerin
      genel zamanaşımı süresince saklanması.
    </li>
  </ul>
  <strong
    ><em
      >İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri
      sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması
      hukuki sebebine dayalı olarak;</em
    ></strong
  >

  <ul>
    <li>
      Finansal ve satış kayıtlarının takibi ile ilgili işlemlerin ve taleplerin
      yönetimi,
    </li>
    <li>
      İade ve değişim işlemlerinde müşterilerimize özel avantaj ve kolaylıkların
      sağlanması,
    </li>
    <li>Muhasebe ve finans süreçlerinin yürütülmesi,</li>
    <li>Satış kayıtlarının saklanması,</li>
    <li>
      Eylül Modalife tarafından yürütülen ticari faaliyetlerin
      gerçekleştirilmesi için ilgili iş birimlerimiz tarafından gerekli
      çalışmaların yapılması, iş stratejilerinin planlanması ve buna bağlı iş
      süreçlerinin yürütülmesi,
    </li>
    <li>
      Site veya mobil uygulamanın güvenliğinin sağlanmasına yönelik kontrollerin
      yapılması, bilgi güvenliği açısından güçlendirme çalışmalarının
      gerçekleştirilmesi,
    </li>
    <li>
      Site veya mobil uygulama üzerinden yorum ekleme imkanının sağlanması,
      yorumlarınızın yayınlanması ve yorumlarınızın yayınlandığına ya da
      yayınlanmadığına ilişkin bilgilendirmenin yapılması,
    </li>
    <li>
      Ürün ve hizmetlerimizin satış ve pazarlama faaliyetleri dahil olmak üzere
      Şirketimiz tarafından sunulan ürün ve hizmetlerden ilgili kişileri
      faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından
      yapılması ve ilgili iş süreçlerinin yürütülmesi,
    </li>
    <li>Müşteri kazanım faaliyetlerinin gerçekleştirilmesi,</li>
    <li>
      Eylül Modalife tarafından gerçekleştirilen ticari faaliyetlerin
      yürütülmesi kapsamında iş ilişkisi içerisine girilen 3. gerçek veya tüzel
      kişilere bilgi temini sağlanması,
    </li>
    <li>Şirketimizin çalışanlarını personel indiriminden yararlandırmak,</li>
    <li>
      Müşteri ilişkilerinin yönetimi ve müşteri iletişim bilgilerinin
      güncelliğinin ve doğruluğunun sağlanması,
    </li>
    <li>
      Şirketimizin ve Şirketimiz ile iş ilişkisi içerisinde olan ilgili
      kişilerin hukuki, teknik, ticari ve iş güvenliğinin temini,
    </li>
    <li>
      Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve uygulanması,
    </li>
    <li>
      Talep ve şikayetlerinizin çözümlendirilmesi ve tekrar yaşanmaması için
      gerekli tüm araştırma, geliştirme, düzeltici ve önleyici faaliyetlerinin
      yürütülmesi için gerekli çalışmaların iş birimlerimiz tarafından yapılması
      ve ilgili iş süreçlerinin yürütülmesi,
    </li>
    <li>
      Müşteri memnuniyeti ve kurumsal iletişim faaliyetlerinin planlanması ve
      icrası,
    </li>
    <li>
      Çekiliş, kampanya, yarışma, promosyon aktivitelerinin planlanması ve
      yürütülmesi, bu kapsamda ilgili aktiviteye katılım koşullarının sağlanıp
      sağlanmadığının kontrolü,
    </li>
    <li>
      Şirketin bölünmesi ya da tamamının veya bir kısmının başka bir firmaya
      devredilmesi halinde söz konusu hukuki işlemlerden doğan sonuçların
      temini.
    </li>
  </ul>
  <strong
    ><em
      >Açık rızanızın varlığı halinde ise, açık rızanıza dayalı olarak;</em
    ></strong
  >

  <ul>
    <li>
      Sizlerle iletişime geçilerek Şirketimizin ürün ve hizmetlerinin pazarlama
      süreçlerinin gerçekleştirilmesi, profilleme ve analiz faaliyetleri dahil
      Şirketimiz tarafından sunulan ürün ve hizmetlerin ilgili kişilerin beğeni,
      kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili
      kişilere önerilmesi ve tanıtılması,
    </li>
    <li>
      Site, mobil uygulama veya mağazalarımızdaki alışveriş tercihlerinizin
      (ziyaretler, siparişler vb.) analiz edilmesi,
    </li>
    <li>
      Müşteri memnuniyetine yönelik anket, araştırma ve analiz çalışmalarının
      yapılması,
    </li>
    <li>
      Ticari İletişim ve Ticari Elektronik İletiler Hakkında Yönetmelik’e uygun
      olarak koleksiyon tanıtımları, kataloglar, etkinlikler, tanıtımlar,
      bültenler, indirimler, kazanılan puanlar, hediye çekleri, kulüp
      üyelikleri, kampanyalar ve promosyonlara ilişkin bilgilendirme
      iletişimlerinin ve ticari elektronik ileti gönderimlerinin
      gerçekleştirilmesi.
    </li>
  </ul>
  <strong>F. İlgili Kişilerin Kanun kapsamında Hakları Nelerdir?</strong><br />
  Bu kapsamda ilgili kişi olarak Kanun’un 11. maddesi uyarına aşağıda sayılan
  haklara sahip olduğunuzu bildiririz:
  <ul>
    <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,</li>
    <li>Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</li>
    <li>
      Kişisel verilerinizi işlenme amacını ve bunların amacına uygun kullanılıp
      kullanılmadığını öğrenme,
    </li>
    <li>
      Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü
      kişileri bilme,
    </li>
    <li>
      Kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların
      düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin
      aktarıldığı üçüncü kişilere bildirilmesini isteme,
    </li>
    <li>
      Kanun’un ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına
      rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel
      verilerinizin silinmesini veya yok edilmesini isteme ve bu kapsamda
      yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere
      bildirilmesini isteme,
    </li>
    <li>
      İşlenen verilerinizin münhasıran otomatik sistemler vasıtasıyla analiz
      edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına
      itiraz etme,
    </li>
    <li>
      Kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara
      uğramanız hâlinde zararın giderilmesini talep etme
    </li>
  </ul>
  haklarına sahipsiniz.<br />
  Yukarıda belirtilen haklarınızı kullanmak için başvurunuzu;
  eylulmodalife.web.tr/Kisisel-verilerin-islenmesi-aydinlatma-metni adresindeki
  İlgili Kişi Başvuru formunu doldurarak ya da formun imzalı bir nüshasını
  eylulmodalife&#64;gmail.com mail adresine güvenli elektronik imzalı olarak kayıtlı
  elektronik posta adresinizden iletebilirsiniz. Başvurularınız, talebinizin
  niteliğine göre en kısa sürede ve en geç 30 (otuz) gün içinde Şirketimiz
  tarafından ücretsiz olarak sonuçlandırılacaktır; ancak işlemin ayrıca bir
  maliyet gerektirmesi halinde Kişisel Verileri Koruma Kurulu tarafından
  belirlenecek tarifeye göre tarafınızdan ücret talep edilebilecektir.<br />
  &nbsp;<br />
  &nbsp;<br />
  Bilgilerinize sunarız.<br />
  <strong>Eylül Modalife Mağazacılık Hizmetleri Ticaret A.Ş.</strong>
</div>
