<article class="container-xxl">
  <h1 class="text-center m-3">Kurumsal Politika</h1>
  <h4>Misyonumuz:</h4>
  <p>
    “<strong>İyi giyinmek herkesin hakkı”</strong> inancından hareketle
    <strong
      >"insanları, tarzları ve bütçelerine uygun giydirerek iyi hissettirmek" </strong
    >tir.
  </p>
  <h4>Vizyonumuz:</h4>
  <p>
    <b
      >“2025 yılının sonuna kadar Avrupa’nın en başarılı giyim perakendecisinden
      biri olmak” tır. </b
    ><br />
    Bu başarı çalışan, müşteri, tedarikçi memnuniyeti, sosyal sorumluluk ve
    sürdürülebilirlik ilkelerini temel almaktadır.
  </p>
  <h3>Değerlerimiz</h3>
  <ul>
    <li>Derinlemesine Uzmanlaşma</li>
    <li>Müşteri Odaklı Olma</li>
    <li>Birlikte Başarma</li>
    <li>Zorluklara Meydan Okuma</li>
    <li>Erdemli Olma</li>
  </ul>
  <h3>Eylül Modalife Mağazacılık Kalite Politikası</h3>
  <p>
    "İyi Giyinmek Herkesin Hakkı" felsefesiyle müşterinin tarzına ve bütçesine
    uygun, müşteri ihtiyaç ve beklentileri doğrultusunda ürünler tasarlayan,
    mevzuata ve ürün şartlarına uygun üretim yaptıran ve ürünleri müşterilerinin
    beğenisine sunarak satan, müşteri memnuniyetini her zaman odağında tutarak
    kendini ve paydaşlarını sürekli geliştiren, süreçlerini belirlediği hedefler
    ve presnsipler doğrultusunda iyileştiren, risk bakış açısıyla hep daha
    iyisini ve doğrusunu yapmayı hedefleyen, sektöründe lider ve örnek bir firma
    olmak.
  </p>
  <h3>Eylül Modalife Ekoloji Politikası</h3>
  <p>
    Eylül Modalife olarak, dünya kaynaklarının bir sonraki kuşaklara doğal
    olarak aktarımını sağlayacak şekilde üretim yapmayı ve ürünlerin sağlıklı
    koşullarda ve tüketicilerin insan sağlığına uygun bir şekilde üretilmesi
    için veriye dayalı, bilgi aktarımını esas alan, seviyeli şeffaflığı
    sağlamayı teyit ediyoruz.
  </p>
  <p>Bu kapsamda taahhütlerimiz;</p>
  <ul>
    <li>
      Eylül Modalife Çevre ve Ekolojik ürün politikamızı tüm tedarikçilerimiz,
      alt tedarikçilerimiz, çalışanlarımız ve müşterilerimizle paylaşmak,
      yaptığımız çalışma ve bilgilendirmeler ile toplum farkındalığına katkı
      sağlamak,
    </li>
    <li>
      2023 yılına kadar Eylül Modalife değerlerini benimsemiş, şeffaf,ekolojik,
      çevre ve insan sağlığı kriterlerimize uyan tedarikçi ve üreticilerimizle
      yeni değer zinciri oluşturmak,
    </li>
    <li>
      Yasalara uyarken aynı zamanda kendi çalışmalarımız ve standartlarımızca da
      ekolojiyi ve ürünlerimizi olumsuz etkileyeceğini belirlediğimiz konularda
      tedarikçilerimizin geliştirilebilir alanlarını tespit etmek ve sürekli
      iyileştirmenin sağlanmasına teşvik etmek,
    </li>
    <li>
      Tüketicilerimize sunduğumuz ürünlerin insan sağlığına uygunluğu için
      gerekli testleri bilimsel risk analizleri çerçevesinde belirlenmiş
      örnekleme test sıklıkları ile yapmak ve uygunsuz (insan sağlığı için risk
      içeren) ürünleri tüketicilere sunmamak
    </li>
    <li>
      Kullandığımız kaynakların azaltılması yönünde iyileştirmeler yapmak,
      kullanılan kaynakların yerine yenisini katmak üzere tasarlanmış yeni iş
      modelleri oluşturmak.
    </li>
  </ul>
  <p class="fw-bold">Aksiyonlarımız;</p>
  <ul>
    <li>
      Ekolojik ürün ve çevre politikamızın anlaşılır olmasını sağlamak amacı ile
      benimsediğimiz ilkeleri tüm üretici ve tedarikçilerimize açık bir nokta
      kalmayacak şekilde anlatmak, konu ile ilgili gerekli eğitimlerin
      verilmesini sağlamak ve farkındalığı arttırmak,
    </li>
    <li>
      Denetim mekanizmaları ile riskli tüm üretici ve tedarikçilerimizin yerinde
      denetimlerini gerçekleştirmek ve değer zinciri risk haritasını oluşturmak,
    </li>
    <li>
      Kapsayıcı ve sistematik bir test modellemesiyle ürünlerin güvenliğinin
      devamını sağlamak,
    </li>
    <li>
      Prosesler bazında su gibi doğal kaynakların ve enerji kaynaklarının
      (elektrik, doğalgaz) kullanımının kontrol altına alınarak takip edilebilir
      sistemler oluşturmasını ve daha etkin kullanılmasını sağlamak,
    </li>
    <li>
      Sürecin başında hammaddelerin kontrollü kullanılmasını sağlayarak daha az
      atık oluşmasını, açığa çıkan atıklardan mümkün olabilecek geri
      kazanımlarını sağlamak, geri kazanımı mümkün olmayan atıkların ise uygun
      bir şekilde bertarafının sağlanarak temelde kirliliği azaltmak,
    </li>
    <li>
      Karbon ve su ayakizimizi hesaplarken, öncelikle kimyasal ayakizimizi
      belirlemek ve iyileştirmek
    </li>
    <li>
      Kendi merkezlerimizden başlayarak karbon ve su ayak izimizi hesaplamak,
      mevcut durumu iyileştirmek ve faaliyetler düzenlemek,
    </li>
    <li>
      Çevre ve insan sağlığını olumsuz etkileyebilecek hammaddelerin, risk
      analizleri doğrultusunda kaynağında azaltılmasını/kullanılmamasını
      sağlamak.
    </li>
  </ul>
  <p>&nbsp;</p>
  <h3>Eylül Modalife Bilgi Güvenliği Yönetim Sistemi Politikası</h3>
  <p>
    Çalışanlarımız, müşterilerimiz, tedarikçilerimiz ve kamuoyu nezdindeki
    itibar ve marka değerimizin korunması;<br />Yasalara ve üçüncü taraflar (iş
    ortakları, müşteriler, tedarikçiler) ile yapılan sözleşmelere uyulması
    amaçları doğrultusunda;<br />Bilgi varlıklarımızın “gizlilik”, “bütünlük” ve
    “kullanılabilirliğine” yönelik bilgi güvenliği risklerinin etkin bir şekilde
    yönetilerek;<br />Bilgi güvenliği yönetim sistemimizin sürekli
    iyileştirilmesini öngörür.
  </p>
  <h3>Sosyal Uygunluk Politikamız</h3>
  <p>
    Eylül Modalife olarak yasal ve gönüllük esasıyla benimsediğimiz
    yükümlülüklerimizi yerine getirmeye kararlıyız. Üretim sürecine dahil olan
    ticari faaliyetlerimizi iş ortaklarımız ile birlikte devam ettiriyor, insan
    ve çevre kaynağının sürdürülebilirliğini sağlamayı hedefliyoruz.
  </p>
  <p>
    Tedarik yaptığımız tüm ülkelerde, bu konuda özel eğitim almış denetçiler ve
    firmalar ile birlikte çalışıyoruz. Sadece denetim odaklı olarak değil,
    tedarikçilerimizi geliştirip birlikte büyümek için onlara danışmanlık
    yapıyor ve eğitimler düzenliyoruz.
  </p>
  <p>
    Faaliyet göstermekte olduğumuz ve olacağımız her yerde temel önceliğimizi
    “insana ve çevreye saygı” olarak belirliyoruz. Paylaşılmayan hiçbir değerin
    ya da bilginin katma değer sağlamayacağını düşünüyoruz ve kuruluşumuzdan
    beri süregelen değerlerimiz doğrultusunda tüm zorluklara meydan okuyarak
    birlikte başaracağımıza inanıyoruz.
  </p>
</article>
