<section class="container-xxl overflow-auto">
  <div class="mat-elevation-z8">
    <h4 class="text-center">Ürün Listesi</h4>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Ürün Adı</th>
        <td mat-cell *matCellDef="let element" width="30">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Kategori Adı</th>
        <td mat-cell *matCellDef="let element" width="30">
          {{ element.categories[0]?.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Fiyatı</th>
        <td mat-cell *matCellDef="let element" width="30">
          {{ element.attributes[0]?.salePrice }} TL
        </td>
      </ng-container>
      <ng-container matColumnDef="photos">
        <th mat-header-cell *matHeaderCellDef width="20">Resim Ekle</th>
        <td mat-cell *matCellDef="let element">
          <img
            style="cursor: pointer"
            (click)="
              addProductImages(element.id, element.attributes[0]?.valueId)
            "
            src="../../../../../assets/photo.png"
            width="25"
            height="25"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="qrcode">
        <th mat-header-cell *matHeaderCellDef width="20">QR Kod</th>
        <td mat-cell *matCellDef="let element">
          <img
            style="cursor: pointer"
            src="../../../../../assets/qrcode.png"
            width="25"
            height="25"
            (click)="showQRCode(element.id)"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef width="20">Düzenle</th>
        <td mat-cell *matCellDef="let element">
          <img
            (click)="edit(element)"
            style="cursor: pointer"
            src="../../../../../assets/edit.png"
            height="25"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef width="20">Sil</th>
        <td
          mat-cell
          *matCellDef="let element"
          appDelete
          [id]="element.id"
          (callback)="getProducts()"
          controller="products"
        >
          <!--<img src="../../../../../assets/delete.png" width="25" height="25" (click)="delete(element.id, $event)" />-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      (page)="pageChanged()"
      [pageSizeOptions]="[5, 10, 20]"
      [length]="100"
      [pageSize]="5"
      showFirstLastButtons
      aria-label="Periyodik öğelerin sayfasını seçin"
    >
    </mat-paginator>
  </div>
</section>
