<main class="container" id="faq">
  <div class="bg-light mb-2">
    <div class="fw-bold text-center text-primary p-2 fs-4">
      Sıkça Sorulan Sorular
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Siparişimde değişiklik yapabilir miyim
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>Siparişiniz kargoya verilmeden önce yapılabilir.</strong>
          Ancak sonrasında siparişiniz tarafınıza ulaştıktan sonra iade ve
          değişim talebi ile tarafımıza geri gönderebilirsiniz.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Siparişimin durumunu nasıl takip edeceğim
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Siparişlerinizi <strong>"Hesabım/Siparişlerim"</strong>
          durumunu ekranından takip edebilirsiniz.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Kargo ücreti ne kadar
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Kargo ücreti her bir siparişiniz için ödeme aşamasında geldiğinizde
          seçmiş olduğunuz kargo firmasına göre hesaplanmaktadır.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#kargoTakip"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Siparişimin kargo takibini nasıl yapabilirim
        </button>
      </h2>
      <div
        id="kargoTakip"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>"Hesabım/Siparişlerim" </strong> bölümünde sipariş numaranızın
          yanında bulunan kargo takip linkine tıkladığınız zaman seçmiş
          olduğunuz teslimat tipine göre İlgili kargo sitesine otomatik olarak
          bağlanabilir, kargonuzun durumunu takip edebilirsiniz.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#four"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Siparişimin teslimat adresini / alıcı bilgisini ve adres değişikliği
          gerçekleştirebilir miyim?
        </button>
      </h2>
      <div
        id="four"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>Siparişiniz kargoya verilmeden önce yapılabilir.</strong>
          Ancak sonrasında yapılamaz.
        </div>
      </div>
    </div>
  </div>
</main>
