<div class="container mt-5">
  <h2 class="text-center mb-4">Yeni Ürün Oluştur</h2>
  <form
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    class="bg-light p-4 rounded shadow-sm"
  >
    <div class="mb-3">
      <label for="categoryId" class="form-label">Kategori</label>
      <select
        id="categoryId"
        formControlName="categoryId"
        class="form-select"
        required
      >
        <option value="" disabled selected>Kategori Seçin</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{
            category.parentName
              ? category.parentName + "/" + category.name
              : category.name
          }}
        </option>
      </select>
      <div
        *ngIf="
          productForm.get('categoryId')?.invalid &&
          productForm.get('categoryId')?.touched
        "
        class="text-danger"
      >
        Kategori gerekli
      </div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Ürün Adı</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        required
      />
      <div
        *ngIf="
          productForm.get('name')?.invalid && productForm.get('name')?.touched
        "
        class="text-danger"
      >
        Ürün adı gerekli
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Açıklama</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3 form-check form-check-inline">
      <input
        type="checkbox"
        id="isStock"
        formControlName="isStock"
        class="form-check-input"
      />
      <label for="isStock" class="form-check-label">Stokta Var</label>
    </div>

    <div class="mb-3 form-check form-check-inline">
      <input
        type="checkbox"
        id="isHome"
        formControlName="isHome"
        class="form-check-input"
      />
      <label for="isHome" class="form-check-label">Ana Sayfada Göster</label>
    </div>
    <div class="mb-3 form-check form-check-inline">
      <input
        type="checkbox"
        id="status"
        formControlName="status"
        class="form-check-input"
      />
      <label for="status" class="form-check-label">Durum</label>
    </div>
    <div class="mb-3">
      <label for="sku" class="form-label">SKU</label>
      <input
        type="text"
        id="sku"
        formControlName="sku"
        class="form-control"
        required
      />
      <div
        *ngIf="
          productForm.get('sku')?.invalid && productForm.get('sku')?.touched
        "
        class="text-danger"
      >
        SKU gerekli
      </div>
    </div>

    <div class="mb-3">
      <label for="salePrice" class="form-label">Satış Fiyatı</label>
      <input
        type="number"
        id="salePrice"
        formControlName="salePrice"
        class="form-control"
        required
      />
      <div
        *ngIf="
          productForm.get('salePrice')?.invalid &&
          productForm.get('salePrice')?.touched
        "
        class="text-danger"
      >
        Satış fiyatı gerekli ve 0'dan büyük olmalı
      </div>
    </div>

    <div class="mb-3">
      <label for="regularPrice" class="form-label">Normal Fiyatı</label>
      <input
        type="number"
        id="regularPrice"
        formControlName="regularPrice"
        class="form-control"
        required
      />
      <div
        *ngIf="
          productForm.get('regularPrice')?.invalid &&
          productForm.get('regularPrice')?.touched
        "
        class="text-danger"
      >
        Normal fiyatı gerekli ve 0'dan büyük olmalı
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="productForm.invalid"
    >
      Ürün Oluştur
    </button>
  </form>
</div>
