<div id="container" class="container">
  <br />

  <strong>VERİ GİZLİLİĞİ VE GÜVENLİĞİ POLİTİKASI</strong><br />
  <br />
  Eylül Modalife Mağazacılık Hizmetleri Tic. A.Ş. (“EYLÜL GİYİM”) olarak;
  “www.eylulmodalife.web.tr” internet sitesi ve/veya mobil uygulama (“Site
  ve/veya Mobil Uygulama”) üyesi (“Üye”) müşterilerimizin, ziyaretçilerimizin ve
  çalışanlarımızın bilgilerinin gizliliğini esas ve öncelikli kabul etmekteyiz.
  Bilgi güvenliğinin sağlanması ile korunması kapsamında “Veri Gizliliği ve
  Güvenliği Politikası (“Politika”)” haline getirdiğimiz esaslarımızı
  bilgilerinize sunmak isteriz.&nbsp;<br />
  <br />
  <strong>1. Politika’nın Kapsamı ve Genel Bilgilendirme</strong><br />
  EYLÜL GİYİM müşterilerinin gizlilik haklarına ve bilgilerinin korunmasına
  büyük önem vermekte, bu konuda tüm yasal düzenlemelere uyumlu hareket etmekte
  ve aşağıda detayları açıklanan esasları Politikamız kapsamında
  uygulamaktadır.&nbsp;<br />
  <br />
  Politikamızda;&nbsp;
  <ul>
    <li>
      Sitemizde ve/veya Mobil Uygulamamızda toplanan müşteri bilgilerinin neler
      olduğu,
    </li>
    <li>
      bu bilgilerin hangi amaçlar için toplandığı ve hangi şekillerde
      kullanıldığı,&nbsp;
    </li>
    <li>bilgilerin nasıl değiştirebileceği,&nbsp;</li>
    <li>
      müşterilerimizin iletişim konusundaki tercihleri ve bunları nasıl
      değiştirebilecekleri, bilgilerin nasıl güvenceye alındığı,&nbsp;
    </li>
    <li>
      müşterilerimizin bilgilerinin korunması ile ilgili hakları vb. konular yer
      almaktadır.&nbsp;
    </li>
  </ul>
  <strong>1.1.&nbsp;&nbsp; &nbsp;Toplanan Bilgiler</strong><br />
  Hizmetlerimiz ve kampanyalarımızı duyuran e-bültenlerimize ve Sitemize ve/veya
  Mobil Uygulamamıza üye olmanız ve onay vermeniz veya üye olmadan
  hizmetlerimizden yararlanmanız durumunda, sizlere daha iyi hizmet verebilmek
  adına ad, soyadı, e-posta adresi, telefon numarası, cinsiyet, doğum tarihi,
  kişisel ilgi alanları, sipariş detayı, ziyaret detayı, fatura ve teslimat
  adresleri gibi bazı kişisel bilgilerinize ihtiyaç duyacağız. Bu bilgiler
  haricinde, Site ve/veya Mobil Uygulama ziyaret sıklığı ve zamanları, sipariş
  verilme zamanları ve sipariş anındaki internet protokol adresi (IP) ve son
  oturum açma IP adresi,, ziyaret edilen ürün sayfalarının ve sipariş verilen
  ürünlerin istatistikleri gibi toplu istatistiksel veriler, ziyaretçi hareket
  ve tercihlerini analiz etmek ve anlamak amacıyla toplanır ve kullanılır. Bu
  açıklamalar çerçevesinde verileriniz (bilgileriniz) aşağıda belirtilen amaçlar
  için
  <ul>
    <li>
      EYLÜL GİYİM internet sitesi ve/veya mobil uygulama içinde size özel
      hesabınız oluşturulması için (örn. adınız, soyadınız, e-posta adresiniz,
      telefon Çevrimiçi hizmetler aracılığıyla siparişlerinizi işlemek için
      (örn. isminiz, adresiniz, doğum tarihiniz)
    </li>
    <li>
      Teslimat durumunu bildirmek amaçlı e-posta ve kısa mesaj bildirileri
      göndermek için (örn. E-posta adresiniz, telefon numaranız)
    </li>
    <li>
      Haber bültenleri, anket çalışmaları, müşteriye uygun içerik ve kampanyalar
      ve kataloglar gibi pazarlama teklifleri göndermek için (örn e-posta
      adresiniz, telefon numaranız, isminiz ve posta adresiniz)
    </li>
    <li>
      Satın aldığınız ürünlerin teslimatında olası sorunları iletmek için (örn.
      telefon numaranız, e-posta adresiniz, adresiniz)
    </li>
    <li>
      Sorularınıza cevap vermek ve yeni veya değiştirilmiş hizmetler hakkında
      sizi bilgilendirmek için (örn. e-posta adresiniz, telefon numarası)
    </li>
    <li>
      Müşterilerimizin alışveriş tercihlerini daha iyi anlamak ve uygun
      pazarlama teklifleri ve bilgileri sunmak adına Trend analizleri ve
      istatistiksel analizler, araştırma ve anketler yapmak, müşteriye uygun
      indirimler ya da kampanyalar tanımlamak için (örn. E-posta adresi,
      alış-veriş alışkanlıkları, site içi gezinme alışkanlıkları)
    </li>
    <li>
      Çevrimiçi alışveriş ve yasal yaşta olduğunuzu doğrulamak için (örn. doğum
      tarihiniz)
    </li>
    <li>
      Anketlere müşterilerimizce katılım sağlandığı takdirde daha iyi hizmet
      sunabilmek amacıyla, koleksiyonlar ile ilgili sizlerden geribildirim
      almak, alışveriş deneyimi ile ilgili memnuniyetinizi ölçmek, satın
      aldığınız ürünler ile ilgili memnuniyetinizi ölçmek için (ör. Sipariş
      adımları memnuniyeti anketi, satın alınan pantolonlardan memnuniyet
      anketi, yeni sezon kadın koleksiyonunda yer alan ürünlerin seçimi anketi)
    </li>
    <li>
      Bize ulaşın formu üzerinden tarafımıza bilgi iletildiğinde müşterinin
      istek ve şikayetlerine cevap verebilmek için, (örn. adı, soyadı, e-posta
      adresi, telefon numarası)
    </li>
    <li>
      Herhangi bir etkinlik söz konusu olduğunda kişiye özgü kampanyalar
      tasarlayabilmek, kişinin tercihlerine uygun içerik ve iletişim
      sağlayabilmek, yapılacak etkinlikleri haber vermek, doğru müşteriye doğru
      mesajın iletilmesini sağlayabilmek için, (örn. yaş, doğum tarihi,
      cinsiyet, kullanım sıklığı)&nbsp;
    </li>
    <li>
      Mobil uygulama söz konusu olduğunda doğru müşteriye doğru iletişimi
      sağlayabilmek, kullanıcının ilgisini çekebilecek içerikleri müşteriye
      ulaştırabilmek, uygulamayı kullanıcının cihazının teknik özelliklerine
      göre geliştirilmesini sağlayabilmek için (örn. EylülModalife uygulamasının
      versiyon bilgisi, cep telefonu marka modeli, IP adresi, işletim sistemi,
      konum bilgisi aktif hale getirilmişse konum bilgileri)&nbsp;
    </li>
    <li>
      İnternet erişimlerine ait log kayıtları 5651 sayılı “İnternet Ortamında
      Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla
      Mücadele Edilmesi Hakkında Kanun ve ilgili mevzuat uyarınca kayıt altına
      alınmakta ve talep edilmesi halinde adli ve/veya idari
      merci/kurum/kuruluşlarla paylaşılmakta, gerekirse şirket içi denetim
      süreçlerinde hukuki yükümlülük çerçevesinde işlenmektedir.&nbsp;
    </li>
    <li>
      Sitenin ve/veya mobil uygulamanın güvenliğini güçlendirmek için, (örn.
      Sistemlere erişimde çok faktörlü kimlik doğrulama yöntemlerinin
      kullanılması veya şirket sistemlerinin ağ ve veri güvenliği için güvenlik
      duvarı, internet ağ geçidi, ağ ve alt ağ ayrımı gibi erişim güvenlik
      önlemleri alınması gibi.&nbsp;
    </li>
    <li>
      Elektronik ticaret hüküm ve şartlarını düzenleyen uluslararası ve yerel
      yasal düzenlemeler kapsamında yükümlülüklerimizi yerine getirmek.
    </li>
  </ul>
  <br />
  <em
    ><strong
      >Önemle hatırlatmak isteriz ki; sipariş oluşturma esnasında kullanılan
      kredi kartı bilgileri hiçbir şekilde şirketimiz sistemlerinde saklanmaz.
      Ancak şirketimiz sistemlerinden bağımsız olarak varsa Masterpass
      altyapısına kaydedilmiş kredi kartı bilgileriniz Masterpass altyapısında
      saklanabilmektedir. Harcama itirazlarınız olduğu takdirde vakit
      kaybetmeden bankanızla görüşmenizi öneririz.</strong
    ></em
  ><br />
  <br />
  <strong>1.2.&nbsp;&nbsp; &nbsp;Toplanan Bilgilerin Kullanımı</strong><br />
  Sitede ve/veya Mobil Uygulama’da toplanan bilgiler aşağıdaki amaçlar için
  kullanılır:
  <ul>
    <li>
      Sipariş süreçlerini yürütmek, tamamlamak ve müşterilerimizle ilgili
      iletişimi sağlamak
    </li>
    <li>
      Ürünler, servisler, etkinlikler, kampanyalar ve promosyonlarla ilgili
      bilgi vermek
    </li>
    <li>Müşterilerimizin alışveriş tercihlerini daha iyi anlamak</li>
    <li>Trend analizleri ve istatistiksel analizler yapmak</li>
    <li>Sitenin ve/veya Mobil Uygulama’nın güvenliğini güçlendirmek</li>
    <li>Müşteriye onunla ilgili içeriği gösterebilmek</li>
  </ul>
  <strong>1.3.&nbsp;&nbsp; &nbsp;Toplanan Bilgilerin Paylaşımı</strong><br />
  Sitede ve/veya Mobil Uygulamada toplanan bilgiler, hizmetin doğru, kaliteli ve
  düzgün bir şekilde yerine getirilmesini, yasal mevzuat kapsamındaki
  yükümlülüklerin yerine getirilmesini, internet sitesi ve mobil uygulamanın
  kolay uygulanabilir olmasını, müşteri memnuniyetinin sağlanmasını, sözleşme
  gereğinin yerine getirilmesini, hukuk işlerinin takibinin yapılmasını,
  müşterilerin beğenilerine, kullanım alışkanlıklarına ve ihtiyaçlarına göre,
  kişiye özel hale getirilmesini hedeflemektedir. Belirtilen amaç ile,
  yurtiçinde ve yurtdışında birlikte çalıştığımız firmalarla (kargo, çağrı
  merkezi, veri tabanı vb. hizmet firmaları ile), EYLÜL GİYİM’nin ait olduğu
  grup firmaları, iştirakleri ve kanuni yükümlülüklerin gerektirdiği noktalarda
  ilgili resmi mercileri ile paylaşılabilmektedir.&nbsp;<br />
  Ancak; bilgileriniz her halükarda EYLÜL GİYİM tarafından korunmakta ve
  bilgilerinizin paylaşıldığı tüm firmaların da aynı önem ve gizlilik
  seviyesinde hareket edilmesi sağlanmaktadır. Bunların dışında bilgileriniz,
  herhangi bir şekilde 3. şahıs ya da tüzel kişilerle paylaşılmamakta veya
  faaliyet dışı hiçbir nedenle ticari amaçla kullanmamaktadır.<br />
  <br />
  Üye ve ziyaretçi, &nbsp;işbu Politika’da belirtilen şartlara uymak koşulu ile,
  Siteyi ve/veya Mobil Uygulamayı kullanabilir. .<br />
  <br />
  Üye veya ziyaretçi, Site’yi ve/veya Mobil Uygulamayı kullanmaya başladığı
  andan itibaren Politika’nın tüm şartlarını kabul etmiş sayılacağını ve bu
  şartların kendisi için bağlayıcı olacağını kabul eder. EYLÜL GİYİM, aşağıda
  belirtilen koşulları, mevzuat veya işbu Politika uyarınca gerektiği zaman,
  kendi takdiri üzerine değiştirme ve değişiklikleri Üye’ye bildirme hakkını
  saklı tutmaktadır.<br />
  <br />
  <strong>2.&nbsp;&nbsp; &nbsp;Bilgi Güvenliği</strong><br />
  EYLÜL GİYİM; ISO/IEC 27001, PCI DSS gibi uluslararası bilgi güvenliği
  standartları çerçevesinde müşterilerinin bilgilerinin güvenliğine büyük önem
  vermekte ve bunu sağlamak adına en ileri teknolojiye sahip araçlarla
  çalışmaktadır. Sitemizin ve/veya Mobil Uygulamamızın güvenliğini sağlamak
  amacı ile güvenli ortamlarda her türlü fiziksel, elektronik ve yönetimsel
  önlem alınmıştır. Tüm bilgiler yurtiçinde ve yurtdışında yer alan güvenli
  sunucularda saklanmakta ve yedeklenmektedir.&nbsp;<br />
  <br />
  Personelin kişisel veriler ve veri koruma kanunları hakkındaki farkındalığını
  artırmak amacıyla mahremiyet ve bilgi güvenliği e-eğitimleri sağlanır.
  Personelin bilgi güvenliği ile ilgili sorumlukları yazılı olarak taahhüt
  altına alınır. Politika ve prosedürlere uygunsuzluklar tespit edilirse
  disiplin süreçleri işletilir. Veri sızıntılarını tespit etmek amaçlı altyapı
  sistemleri bulunmaktadır. Uygulama ve servis seviyesinde verilerin güvenliği
  şifreli protokol kullanımı, güvenlik duvarları ve erişim kontrol mekanizmaları
  ile sağlanır. Veriler sınıflandırılarak etiketlenir. Dış ve çevresel
  tehditlere karşı koruma sağlanacak şekilde fiziksel güvenlik önlemleri
  alınmıştır. Bilgi sistemlerinde yapılan değişiklikler kayıt altına alınır.
  Veri kayıplarına karşı veri yedekleme politikası çerçevesinde kişisel veriler
  yedeklenir. Bilgi sistemleri düzenli olarak güvenlik zafiyet taramalarına tabi
  tutularak, tespit edilen zafiyetler giderilir.&nbsp;<br />
  EYLÜL GİYİM; bilgi güvenliği hususunda çalışanlarının ve anlaşmalı olduğu tüm
  kurum ve kuruluşların gerekli hassasiyeti taşımaları ve yeterli farkındalığa
  sahip olmaları için gerekli tüm önlemleri almaktadır. EYLÜL GİYİM, tüm
  çalışanlarının işe başlangıç ve sonraki aşamalarda bilgi güvenliği hakkında
  eğitim almasını ve bilgilerinin güncel tutulmasını sağlar. &nbsp;<br />
  <br />
  Sitemiz ve/veya Mobil Uygulamamız üzerinden alınan bilgiler SSL (Secure Socket
  Layer) olarak adlandırılan ve güvenli bilgi aktarımı sağlayan teknoloji ile
  taşınır. Sitemiz ve/veya Mobil Uygulamamız üzerinde ödeme bilgilerinizi
  aktardığınız sayfalarda tarayıcınızın adres satırında en sağda (kullandığınız
  tarayıcıya bağlı olarak) bir kilit ya da anahtar resmi ve bu adres satırında
  bulunan adresin ilk harflerinin http’den https’e dönüştüğünü göreceksiniz.
  Bunları görmeniz durumunda sitemizin ve/veya mobil uygulamamız güvenli
  sunucuları üzerinde olduğunuzdan emin olabilirsiniz.<br />
  <br />
  Bilgi güvenliğinin ihlali söz konusu olursa, uygunsuzluklar vakit
  kaybetmeksizin tespit edilir; ortadan kaldırılması ve tekrarlanmaması için
  gerekli tüm önlemler alınır.&nbsp;<br />
  <br />
  EYLÜL GİYİM, bilgi güvenliği ihlalleriyle karşılaştığı takdirde, bu
  ihlallerden sorumlu olan kişi ya da kişilere karşı tüm yasal hakları saklı
  tutar.<br />
  <br />
  Eylül Modalife Kurumsal Politikalarına
  <a
    class="btn-link text-decoration-none"
    [routerLink]="['/kurumsal-politika']"
    routerLinkActive="router-link-active"
    >linki</a
  >
  üzerinden ulaşabilirsiniz.<br />
  <br />
  <strong>3.&nbsp;&nbsp; &nbsp;Cookie (Çerez) Kullanımı</strong><br />
  Sitemizde ve/veya Mobil Uygulamamızda ziyaretiniz sırasında bilgisayarınıza
  kaydedilen küçük veri dosyaları olarak tanımlanabilecek “çerez”ler (cookie)
  kullanılmaktadır. Bu dosyalar, Sitemizde ve/veya Mobil uygulamamızda
  alışverişinizi daha verimli ve güvenli hale getirmek amacı ile kullanılan
  endüstri standartlarıdır ve tüm alışveriş sitelerinde ve/veya mobil
  uygulamalarda kullanılırlar.<br />
  Bu dosyaları kullanmak istememeniz ya da kullanıldığında haberdar edilmek
  istemeniz halinde internet tarayıcınızda gerekli değişiklikleri
  yapabilirsiniz.<br />
  İnternet sayfaları birden fazla konumda Cookies denilen çerezleri
  kullanmaktadır. Bunların işlevi, sunumumuzun kullanıcı için daha yakın, etkili
  ve güvenli hale getirilmesidir. Çerezler, bilgisayarınıza bırakılan ve
  tarayıcınızın belleğe aldığı küçük metin dosyalarıdır. Çerezler
  bilgisayarınıza zarar vermez ve virüs içermez.<br />
  Eylül Modalife, Google ve Facebook gibi sosyal mecraların sunduğu analiz
  araçlarını da kullanmaktadır.<br />
  Tarayıcınızı veya uygulamanızı veya buna ait işletim sistemini (iOS, Android,
  Windows) gerekli şekilde ayarlayarak bu tür verilerin aktarılmasına engel
  olabilirsiniz, ancak bu durumda, sunulan içeriğin veya hizmetin sorgusu,
  kullanımı veya işlevselliğinde sorun çıkabilir.<br />
  <br />
  <strong
    >4.&nbsp;&nbsp; &nbsp;Üyelerimizin Hakları ve Bilgilerinin
    Korunması&nbsp;</strong
  ><br />
  EYLÜL GİYİM tarafından kaydedilen tüm bilgileriniz hakkında bilgi alma
  hakkınız vardır. Bilgileriniz yanlış, eksik ya da alakasız ise, bilgilerin
  düzeltilmesini ya da silinmesini talep edebilirsiniz. Pazarlama bünyesinde
  kullanılan bilgilerinizin kullanımına dair verdiğiniz onayı/izninizi
  istediğiniz zaman geri alabilirsiniz.<br />
  <strong>5.&nbsp;&nbsp; &nbsp;FİKRİ MÜLKİYET</strong><br />
  Üyelerimizin, Site’yi ve/veya Mobil Uygulamayı kullanımında, Politika’da yer
  alan tüm şartlara ve Site’nin ve/veya Mobil Uygulamanın ilgili yerlerinde
  belirtilen kurallara uygun hareket etmeleri gerekmektedir.<br />
  Site’de ve/veya Mobil Uygulama’da sunulan görsel, yazısal içerik, kişisel
  kullanım içindir. Site’nin ve/veya Mobil Uygulama’nın içeriğinde yer alan
  bütün yazıların, grafiklerin, fotoğrafların, videoların, animasyonların,
  seslerin her türlü hakkı saklıdır; aksi belirtilmedikçe, ticari ya da kişisel
  amaçlarla, izinsiz kullanılamaz. EYLÜL GİYİM’nin izni ve onayı olmaksızın,
  Site’de ve/veya Mobil Uygulama’da yer alan herhangi bir unsuru diğer bir
  mecrada veya internet sitesinde ve/veya mobil uygulamada yayınlamak veya link
  vermek yasaktır.<br />
  EYLÜL GİYİM, bu maddede belirtilen prensipler ve ilgili mevzuat kapsamındaki
  tüm yasal haklarını saklı tutar.&nbsp;<br />
  <br />
  <strong>6.&nbsp;&nbsp; &nbsp;İLETİŞİM :</strong><br />
  İlgili mevzuat çerçevesinde ve onay vermeniz kaydıyla Eylül Modalife’nin ürün
  ve hizmetlerini tanıtmak; pazarlamak; kampanya, promosyon, hediye, indirim,
  bilgilendirme, kutlama ve temenni gibi içerikli iletileri göndermek ya da
  Şirketimizi tanıtmak veya bunları adımıza anlaşmalı olduğumuz firmalar
  aracılığıyla yapmak amacıyla, Üyelerimizle elektronik iletişim araçlarıyla
  ticari iletişim kurmaktayız.&nbsp;<br />
  <br />
  Bizlere aşağıda yer alan iletişim bilgileri ile ulaşabilirsiniz:<br />
  <u><strong>Adres:&nbsp;</strong></u>
  <a
    class="text-decoration-none"
    href="https://goo.gl/maps/8CinhD1zSLNn3Dti7"
    target="_blank"
    >Fatih Mahallesi 57. Ziraat Caddesi 27 A Aksaray/Türkiye
  </a>
  <br />
  <u><strong>Telefon:</strong></u
  >&nbsp;90 541 871 01 58 (Eylül Modalife Müşteri Hizmetleri) <br />
  <u><strong>E-posta:</strong></u> eylulmodalife&#64;gmail.com<br />
  <br />
  <strong>Eylül Modalife Mağazacılık Hizmetleri Tic. A.Ş.</strong><br />
  <br />
  &nbsp;
</div>
