<div class="d-flex mb-2 text-center">
  <a
    class="btn btn-primary btn-sm me-1"
    data-bs-toggle="modal"
    data-bs-target="#editAttribute"
    (click)="changeMode(false)"
    ><i class="fa-solid fa-plus" title="Yeni Ekle"></i> Yeni Ekle</a
  >
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Seçilenlere Uygula
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" (click)="activeState()"
          >Seçilenleri Durumunu Değiştir</a
        >
      </li>
      <li><a class="dropdown-item" href="#">Seçilenleri sil </a></li>
    </ul>
  </div>
  <a class="btn btn-danger btn-sm ms-1"
    ><i class="fa-solid fa-trash"></i> Tümünü Sil
  </a>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th class="text-center" style="width: 10%" scope="col">
        <input
          class="form-check-input p-2"
          type="checkbox"
          (click)="checkAll()"
        />
      </th>
      <th style="width: 40%" scope="col">Özellik</th>
      <th style="width: 10%" scope="col">Durum</th>
      <th class="text-center" style="width: 40%" scope="col">İşlem</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <th class="text-center">
        <input
          class="form-check-input p-2"
          type="checkbox"
          [checked]="isSelected"
          #box
          (click)="checkList(item.id, box.checked)"
        />
      </th>
      <td>{{ item.name }}</td>
      <td>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            [checked]="item.status"
            type="checkbox"
            role="switch"
            (change)="changeStatus(item)"
          />
        </div>
      </td>
      <td class="text-center">
        <a
          (mouseenter)="changeMode(true, item.name, item.id)"
          class="btn btn-secondary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#editAttribute"
          ><i class="fas fa-edit"></i>
        </a>
        <a
          class="btn btn-success btn-sm ms-1"
          appDelete
          [id]="item.id"
        >
        </a>
      </td>
    </tr>
    <tr *ngIf="items.length === 0">
      <td colspan="4" class="text-center">Veri bulunamadı</td>
    </tr>
  </tbody>
</table>

<ng-template #modal let-item>
  <div
    class="modal fade"
    id="editAttribute"
    tabindex="-1"
    aria-labelledby="editAttributeValue"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editAttributeValue">
            Özellik Değeri {{ editMode ? "Düzenle" : "Ekle" }}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="value"
              aria-label="Attribute Value"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Kapat
          </button>
          <button
            (click)="editMode ? addValue(item) : addValue(value)"
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            {{ editMode ? "Güncelle" : "Ekle" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
