<div class="container-xxl">
  <h3>Madde 1 - Sözleşmenin Tarafları</h3>
  <p><strong>SATICI:</strong></p>
  <p>
    Eylül Modalife Elektronik Mağazacılık ve Tic. A.Ş.<br />Adres:
    <a
      class="text-decoration-none"
      href="https://goo.gl/maps/8CinhD1zSLNn3Dti7"
      target="_blank"
      >Fatih Mahallesi 57. Ziraat Caddesi 27 A Aksaray/Türkiye </a
    ><br />Telefon
    <a class="text-decoration-none" href="tel:+905418710158">
      +90 541 871 01 58</a
    ><br />Email: eylülmodalife&#64;gmail.com
  </p>
  <p><strong>ALICI:</strong></p>
  <p>Müşteri</p>
  <h3>Madde 2 - Sözleşmenin Konusu</h3>
  <p>
    İş bu sözleşmenin konusu, Alıcının Satıcıya ait eylulmodalife.web.tr web
    sitesinden elektronik ortamda sipariş verdiği, sözleşmede bahsi geçen
    nitelikleri haiz ve yine sözleşmede satış fiyatı belirtilen mal/hizmetin
    satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketici Korunması Hakkında
    Kanunu ve 29188 sayılı Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince
    tarafların hak ve yükümlülüklerinin saptanmasıdır. www.eylulmodalife.web.tr
    sitesinde ödeme sayfasında yer alan ön bilgilendirme ve fatura işbu
    sözleşmenin ayrılmaz parçalarıdır.
  </p>
  <h3>Madde 3 - Sözleşme Tarihi</h3>
  <p>
    Satıcı tarafından daha önce imzalanmış bulunan işbu iki nüsha sözleşme alıcı
    tarafından .... tarihinde imzalanarak kabul edilmiştir.
  </p>
  <h3>
    Madde 4 - Mal veya Hizmetin Teslimi, Sözleşmenin İfa Yeri ve Teslim Şekli
  </h3>
  <p>
    Mal/hizmet, alıcının teslimini talep etmiş olduğu .... adresinde ....`a
    teslim edilecektir.
  </p>
  <h3>Madde 5 - Teslimat Masrafları ve İfası</h3>
  <p>
    Teslimat masrafları alıcıya aittir. Satıcı, web sitesinde, ilan ettiği
    rakamın üzerinde alışveriş yapanların teslimat ücretinin kendisince
    karşılanacağını yada kampanya dahilinde ücretsiz teslimat yapacağını beyan
    etmişse, teslimat masrafı satıcıya aittir. Teslimat; stokun müsait olması ve
    mal bedelinin satıcının hesabına geçmesinden sonra en kısa sürede yapılır.
    Satıcı, mal/hizmetin siparişinden itibaren 30 (Otuz) gün içinde mal/hizmeti
    teslim eder ve bu süre içinde yazılı bildirimle ek 10 (on) günlük süre
    uzatım hakkını saklı tutar. Herhangi bir nedenle mal/hizmet bedeli ödenmez
    veya banka kayıtlarında iptal edilir ise, satıcı mal/hizmetin teslimi
    yükümlülüğünden kurtulmuş kabul edilir.
  </p>
  <h3>Madde 6 - Kapıda Ödeme Ücreti</h3>
  <p>
    Kapıda ödeme servisi kargo şirketi tarafından sağlanan bir ödeme seçeneğidir
    Satıcı ile bir ilgisi bulunmamaktadır. Bu servis için kargo şirketi 4.95 TL
    tahsil etmektedir. Bu servis bedeli kargo şirketine ait olup, ürün iadesi
    halinde iade edilemez Satıcı bu bedelden sorumlu tutulamaz.
  </p>
  <h3>Madde 7 - Alıcının Beyan ve Taahhütleri</h3>
  <p>
    Alıcı, Web sitesinde yer alan Sözleşme konusu Malın/Hizmetin temel
    nitelikleri, satış fiyatı ve ödeme şekli ile teslimat ve kargo bedeline
    ilişkin olarak Satıcı tarafından yüklenen ön bilgileri okuyup bilgi sahibi
    olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder. Alıcı,
    işbu Sözleşme'yi ve Ön Bilgilendirme Formunu elektronik ortamda teyit
    etmekle, mesafeli sözleşmelerin akdinden önce Satıcı tarafından Alıcıya
    verilmesi gereken adres, siparişi verilen Mal/Hizmet'e ait temel özellikler,
    Mal/Hizmet'in vergiler dahil fiyatı, ödeme ve teslimat ile teslimat fiyatı
    bilgilerini de doğru ve eksiksiz olarak edindiğini teyit etmiş olur.
    Alıcı'nın, Sözleşme konusu Mal/Hizmet'i teslim almadan önce muayene
    etmeksizin; tahrip olmuş, kırık, ambalajı yırtılmış vb. hasarlı ve ayıplı
    Mal/Hizmeti kargo şirketinden teslim alması halinde sorumluluk tamamen
    kendisine aittir. Alıcı tarafından kargo şirketi görevlisinden teslim alınan
    Mal/Hizmet'in hasarsız ve sağlam olduğu kabul edilecektir. Teslimden sonra
    Mal/Hizmet'in sorumluluğu ve hasarlar Alıcı'ya aittir. Mal/Hizmet'in
    tesliminden sonra Alıcı'ya ait kredi kartının Alıcı'nın kusurundan
    kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı
    olarak kullanılması nedeni ile ilgili banka veya finans kuruluşunun
    Mal/Hizmet bedelini Satıcı'ya ödememesi halinde, Alıcı kendisine teslim
    edilmiş olması kaydıyla Mal/Hizmet'i 3 (üç) gün içinde Satıcı'ya iade
    etmekle yükümlüdür. Bu halde teslimat giderleri Alıcı'ya aittir. Alıcı,
    promosyon veya kampanya gereği Satıcı tarafından kendisine teslim edilen
    bilabedel ürünlerden Satıcı'yı sorumlu tutmayacağını, tüm taleplerden ürün
    üreticisinin münhasıran sorumluluğunu kabul ve beyan eder.
  </p>
  <h3>Madde 8 - Satıcının Beyan ve Taahhütleri</h3>
  <p>
    Satıcı, sözleşme konusu mal/hizmetin sağlam, eksiksiz, siparişte belirtilen
    niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile
    teslim edilmesinden sorumludur. Sözleşme konusu mal/hizmet, alıcıdan başka
    bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun
    teslimatı kabul etmemesinden satıcı sorumlu tutulamaz. Satıcı, cayma
    beyanının kendisine ulaşmasından sonra 14 (ondört) gün içinde mal/hizmet
    bedelini, varsa kıymetli evrakı iade eder. Haklı gerekçelerle satıcı,
    sözleşmedeki ifa süresi dolmadan alıcıya eşit kalite ve fiyatta mal/hizmet
    tedarik edebilir. Satıcı mal/hizmetin ifasının imkânsızlaştığını
    düşünüyorsa, sözleşmenin ifa süresi dolmadan alıcıya bildirir. Ödenen bedel
    ve varsa belgeler 14 (ondört) gün içinde iade edilir. Garanti belgesi ile
    satılan mal/hizmetlerden olan veya olmayan mal/hizmetlerden arızalı veya
    bozuk olan mal/hizmetler, garanti şartları içinde gerekli onarımın yapılması
    için satıcıya gönderilebilir, bu takdirde teslimat giderleri satıcı
    tarafından karşılanacaktır.
  </p>
  <h3>Madde 9 - Sözleşmeye Konu Olan Mal veya Hizmetin Özellikleri</h3>
  <p>
    Mal/hizmetin cinsi ve türü, miktarı, marka/modeli, rengi ve tüm vergiler
    dâhil satış bedeli işbu sözleşmenin ayrılmaz parçası sayılan faturada
    belirtildiği gibidir.
  </p>
  <h3>Madde 10 - Mal veya Hizmetin Peşin Fiyatı</h3>
  <p>
    Mal/hizmetin peşin fiyatı sipariş sonu mail atılan örnek fatura ve ürün ile
    birlikte müşteriye gönderilen fatura içeriğinde mevcuttur.
  </p>
  <h3>Madde 11 - Vadeli Fiyat</h3>
  <p>
    Mal/hizmetin satış fiyatına yapılan vadeye göre fiyatı sipariş sonu mail
    atılan örnek fatura ve ürün ile birlikte müşteriye gönderilen fatura
    içeriğinde mevcuttur.
  </p>
  <h3>Madde 12 - Faiz</h3>
  <p>
    Her yıl Türkiye Cumhuriyeti Hükümetinin belirlediği faiz oranından ve her
    halde %30`dan fazla olamaz. Alıcı çalıştığı bankaya karşı münhasıran
    sorumludur.
  </p>
  <h3>Madde 13 - Ödeme Planı</h3>
  <p>
    Alıcının, kredi kartı ile ve taksitle alışveriş yapması durumunda siteden
    seçmiş olduğu taksit biçimi geçerlidir. Taksitlendirme işlemlerinde, alıcı
    ile kart sahibi banka arasında imzalamış bulunan sözleşmenin ilgili
    hükümleri geçerlidir. Kredi kartı ödeme tarihi banka ile alıcı arasındaki
    sözleşme hükümlerince belirlenir. Alıcı, ayrıca bankanın gönderdiği hesap
    özetinden taksit sayısını ve ödemelerini takip edebilir.Ödeme alıcısı
    bankaya karşı Alıcı münhasıran sorumludur.
  </p>
  <h3>Madde 14 - Cayma Hakkı</h3>
  <p>
    <strong
      >Alıcı, hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe
      göstermeksizin, satın aldığı Mal/Hizmeti teslim tarihten itibaren 14
      (ondört) gün içerisinde cayma hakkını kullanarak iade edebilir.</strong
    >
  </p>
  <p>
    Cayma hakkının kullanılması halinde:<br />
    a) Alıcı cayma hakkını kullanmasından itibaren 10 (on) gün içerisinde Malı
    Satıcı'ya geri gönderir. <br />
    b) Cayma hakkı kapsamında iade edilecek Mal kutusu, ambalajı, varsa standart
    aksesuarları varsa Mal ile birlikte hediye edilen diğer ürünlerin de
    eksiksiz ve hasarsız olarak iade edilmesi gerekmektedir. Mal, Satıcı'ya iade
    edilirken, Malın teslimi sırasında Alıcı'ya ibraz edilmiş olan orijinal
    faturanın da Alıcı tarafından iade edilmesi gerekmektedir. Fatura aslı
    gönderilmez ise KDV ve varsa sair yasal yükümlülükler iade edilemez.<br />
    c) Cayma hakkının kullanılmasını takip eden 14 (ondört) gün içerisinde Mal
    bedeli Alıcı'ya Alıcı'nın ödediği şekilde iade edilir.
  </p>
  <p>
    Alıcı iade edeceği Malı, önbilgilendirme formunda belirtilen Satıcı'nın
    anlaşmalı kargo şirketi ile Satıcı'ya gönderdiği sürece iade kargo bedeli
    Satıcı'ya aittir. Alıcı'nın iade edeceği Malı, önbilgilendirme formunda
    belirtilen Satıcı'nın anlaşmalı kargo şirketi dışında bir kargo şirketi ile
    göndermesi halinde iade kargo bedeli ve Malın kargo sürecinde uğrayacağı
    hasardan Satıcı sorumlu değildir. Sipariş onayı verildikten sonra, Malın
    teslimine kadar olan sürede cayma hakkının kullanılması halinde ise, iade
    kargo bedelinden Alıcı sorumlu olacaktır.
  </p>
  <h3>Madde 15 - Cayma Hakkının Kullanılamayacağı Haller</h3>
  <p>
    Cayma hakkı aşağıdaki hallerde kullanılamaz: <br />
    a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve
    satıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmelerde,
    <br />
    b) Tüketicinin istekleri veya açıkça onun kişisel ihtiyaçları doğrultusunda
    hazırlanan, niteliği itibariyle geri gönderilmeye elverişli olmayan ve çabuk
    bozulma tehlikesi olan veya son kullanma tarihi geçme ihtimali olan malların
    teslimine ilişkin sözleşmelerde,<br />
    c) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları
    açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların
    teslimine ilişkin sözleşmelerde,<br />
    d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması
    mümkün olmayan mallara ilişkin sözleşmelerde, <br />
    e) Tüketici tarafından ambalaj, bant, mühür, paket gibi koruyucu unsurları
    açılmış olması şartıyla maddi ortamda sunulan kitap, ses veya görüntü
    kayıtlarına, yazılım programlarına ve bilgisayar sarf malzemelerine ilişkin
    sözleşmelerde,<br />
    f) Bahis ve piyangoya ilişkin hizmetlerin ifasına ilişkin sözleşmelerde,<br />
    g) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına
    başlanan hizmetlere ilişkin sözleşmelerde,<br />
    h) Elektronik ortamda anında ifa edilen hizmetler ile tüketiciye anında
    teslim edilen gayri maddi mallara ilişkin sözleşmelerde ve sözleşmeye konu
    Mal/Hizmet'in Mesafeli Sözleşmeler Yönetmeliği'nin uygulama alanı dışında
    bırakılmış Mal/Hizmet türlerinden müteşekkil olması halinde Alıcı ve Satıcı
    arasındaki hukuki ilişkiye Mesafeli Sözleşmeler Yönetmeliği hükümleri
    uygulanamaması sebebiyle cayma hakkı kullanılamayacaktır.
  </p>
  <h3>Madde 16 - Temerrüd Hali ve Hukuki Sonuçları</h3>
  <p>
    Alıcı, kredi kartı ile yapmış olduğu işlemlerinde temerrüde düşmesi halinde
    kart sahibi bankanın kendisi ile yapmış olduğu kredi kartı sözleşmesi
    çerçevesinde faiz ödeyecek ve bankaya karşı sorumlu olacaktır. Bu durumda
    ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vekalet
    ücretini alıcıdan talep edebilir ve her koşulda alıcının borcundan dolayı
    temerrüde düşmesi halinde, alıcı, borcun gecikmeli ifasından dolayı
    satıcının oluşan zarar ve ziyanını ödemeyi kabul eder.
  </p>
  <h3>Madde 17 - Uyuşmazlıkların Çözümü</h3>
  <p>
    İşbu Mesafeli Satış Sözleşmesi'nin uygulanmasında, Sanayi ve Ticaret
    Bakanlığınca ilan edilen değere kadar Alıcının Mal veya Hizmeti satın aldığı
    ve ikametgahının bulunduğu yerdeki Tüketici Hakem Heyetleri ile Tüketici
    Mahkemeleri yetkilidir. 6502 Sayılı Tüketicinin Korunması Hakkında Kanun'un
    68'nci. Maddesinin 1. fıkrasında belirtilen alt ve üst limitler
    doğrultusunda tüketici talepleri hakkında ilçe/il tüketici hakem heyetleri
    yetkilidir.
  </p>
  <h3>Madde 18 - Bildirimler ve Delil Sözleşmesi</h3>
  <p>
    İşbu Sözleşme tahtında Taraflar arasında yapılacak her türlü yazışma,
    mevzuatta sayılan zorunlu haller dışında, e-mail aracılığıyla yapılacaktır.
    Alıcı, işbu Sözleşme'den doğabilecek ihtilaflarda Satıcı'nın resmi defter ve
    ticari kayıtlarıyla, kendi veritabanında, sunucularında tuttuğu elektronik
    bilgilerin ve bilgisayar kayıtlarının, bağlayıcı, kesin ve münhasır delil
    teşkil edeceğini, bu maddenin Hukuk Muhakemeleri Kanunu'nun 193. maddesi
    anlamında delil sözleşmesi niteliğinde olduğunu kabul, beyan ve taahhüt
    eder.
  </p>
  <h3>Madde 19 - Tacire Kesilen Fatura ve Cari Hesap Virman Onayı</h3>
  <p>
    İşbu sözleşmede siparişi oluşturan Alıcı’nın faturayı kendi nam ve hesabına
    değil, üçüncü bir şirket ve/veya tüzel kişi (bu ibare ile gerçek kişi tacir
    de dahil olmak üzere) adına düzenlemek istemesi halinde; Alıcı verdiği
    fatura bilgilerinin doğruluğunu, cari hesapta Alıcı adına düzenlenecek
    fatura tutarlarının ve borç tutarlarını, Alıcı’nın beyan ettiği şirket
    ve/veya tüzel kişi cari hesabına virman yapılmasına onay verdiğini ve
    alacağın temliki hükümlerine göre borcun Alıcı’nın beyan ettiği ticari unvan
    ve vergi numaralı şirket/tüzel kişi adına düzenlenmesini kabul ettiğini
    beyan eder. Alıcı fatura bilgisini beyan ettiği şirket ve/veya tüzel kişinin
    ticari unvanının, vergi dairesinin ve numarasının, adres bilgisinin hatalı
    olmasından ve ilgili şirket/tüzel kişinin borcu kabul etmemesi halinde
    doğacak sorumluluğu ve Satıcı’nın bu işlemden doğan tüm maddi ve manevi
    zararlarını tazmin etmeyi kabul, gayrikabili rücu beyan ve taahhüt eder.
    Öyleki bu halde Alıcı’nın tüketici olmaması nedeniyle Borçlar Kanunu ve
    Ticaret Kanunu hükümleri uygulanacaktır.
  </p>
  <p>
    19 (on dokuz) maddeden ibaret bu Sözleşme, Taraflarca okunarak,
    .../.../20... tarihinde, Alıcı tarafından elektronik ortamda onaylanmak
    suretiyle akdedilmiş ve yürürlüğe girmiştir.
  </p>
</div>
