<div class="container-xxl">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-12" id="faqDataList">
      <div>
        <h4 class="text-center">Gönderilen siparişler için iade ve değişim</h4>
        <p></p>
        <p>
          Ürün iade istekleri Tüketicinin Korunması Kanunu ve Yönetmeliği
          hükümleri&nbsp;esas alınarak aşağıdaki kriterler dâhilinde
          yapılmaktadır.<br />
          Kanunen internetten yapılan satışlarda (mesafeli sözleşmeler ile
          satışlarda) tüketicilerin teslim aldığı tarihten itibaren 14 gün
          içerisinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir
          gerekçe göstermeksizin malı reddederek ürünü iade hakkı mevcuttur.
          Buna rağmen eylulmodalife.web.tr adresinden satın alınan Eylül
          Modalife markalı alışverişlerde&nbsp;fatura ibrazı ile kullanılmamış
          ürünlerde 30 gün içerisinde iade konusunda destek olmaktayız. Ayrıca
          Eylül Modalife markalı ürünleri size en yakın mağazamızdan faturanız
          ile birlikte değişim ve iade yapabilirsiniz. (İnternet Mağazamız'da
          değişim yapılmamaktadır.)<br />
          eylulmodalife.web.tr'da satılan farklı marka ürünler için iade süresi
          sipariş teslim tarihinden itibaren 14 gündür.<br />
          eylulmodalife.web.tr adresinden satın alınan farklı marka ürünlere ait
          iadeler Eylül Modalife mağazalarından satılabilir özelliğini
          kaybetmemiş olması koşulu ile 14 gündür. Satılabilir özelliğini
          yitirmiş olan farklı marka ürünlerin iadesi iade kodu oluşturularak
          anlaşmalı kargo ile iade adresine gönderilmelidir.<br />
          Ayrıca size en yakın mağazamızdan faturanız ile birlikte değişim ve
          iade yapabilirsiniz. (İnternet Mağazamız' da değişim
          yapılmamaktadır.)<br />
          İade ettiğiniz ürünleriniz tarafımıza ulaştıktan sonra, ürünleriniz
          kabul işlemini takiben işlem sırasına göre incelenmektedir.İade
          ürünleriniz tarafımıza ulaştıktan sonra&nbsp;10&nbsp;iş günü
          içerisinde iade tutarınız&nbsp;tarafınıza
          ödenecektir<strong>.&nbsp;</strong>İadenizin geri ödemesi sitemizde
          sipariş verirken gerçekleştirdiğiniz ödeme yöntemine
          göre(Peşin/taksit) geri ödenecektir. İade işlemleri otomatik sistemler
          tarafından yapıldığından geri ödeme de sistemde oluşturmuş olduğunuz
          siparişin ödeme türüne göre sonuçlanmaktadır. Siparişlerde taksitli
          ödeme metodu kullanıldıysa iade taksitli olarak; peşin ödeme metodu
          kullanıldıysa da iade karta peşin olarak geri ödenmektedir.<br />
          <br />
          <strong>Nasıl Değişim Yapabilirim?</strong>
        </p>

        <ul>
          <li>
            İnternet Mağazamızda değişim yapılmamaktadır. Size en yakın
            mağazamızdan faturanız veya faturanızın ekran görüntüsü ile birlikte
            Eylül Modalife markalı ürünlerinizi 30 gün içerisinde değişim
            yapabilirsiniz.
          </li>
        </ul>
        <strong>Nasıl İade Yapabilirim?</strong>

        <ul>
          <li>
            eylulmodalife.web.tr sitemizden
            <strong>“Hesabım”</strong> sayfasında ilgili siparişinize ait
            <strong>“İade Et”</strong> bağlantısını tıklayıp, iade etmek
            istediğiniz ürün/ürünleri, nedenini seçerek onaylamanız
            gerekmektedir.
          </li>
          <li>
            İade etmek istediğiniz <strong>ürün adedini</strong> ve
            <strong>iade nedenini</strong> seçiniz ve talebinizi onaylayınız.
            Onaylandığına dair verilen <strong>iade kodunu</strong> saklayınız.
          </li>
          <li>
            Siparişinizin faturasında yer alan
            <strong>iade formunu</strong> mutlaka eksiksiz doldurmanız ve
            <strong>imzalamanız</strong> gerekmektedir. Aksi halde iade
            işleminiz yapılamayacaktır.
          </li>
          <li>
            Üye olmadan oluşturulan siparişleriniz için aşağıda yer alan linke
            mail adresinizi ve sipariş numaranızı yazarak iade talebi
            oluşturabilirsiniz.<br />
            <strong
              >https://www.eylulmodalife.web.tr/hesabim/siparislerim</strong
            >
          </li>
          <li>
            İade talebi oluşturduğunuz ürün/ürünleri&nbsp;iade kodu&nbsp;ve
            doldurduğunuz iade formunun yer aldığı faturayla&nbsp;birlikte
            <strong>ücretsiz</strong> olarak Aras Kargo&nbsp; ile aşağıdaki iade
            adresimize gönderebilirsiniz.
          </li>
        </ul>
        <strong>1. İade Koşulları</strong>

        <ul>
          <li>
            eylulmodalife.web.tr adresinden satın almış olduğunuz kullanılmamış,
            hasarsız ve iç/dış etiketleri kesilmemiş&nbsp;ürünlerinizi, 30 gün
            içerisinde iade edebilirsiniz. Farklı marka ürünler için iade süresi
            14 gündür.
          </li>
          <li>
            Hijyen koşulları gereği iç giyim ürünlerinde iade yapılmamaktadır.
          </li>
          <li>
            Kozmetik ve kişisel bakım ürünleri hijyen kuralları sebebiyle
            ambalajı / koruyucu bandı açılmamış, hasar görmemiş, kullanılmamış,
            denenmemiş ve son kullanma tarihi geçmemiş olmaları halinde 30 gün
            içerisinde iade edilebilir.
          </li>
          <li>
            Ayrıca iade işlemlerinizi faturanız veya faturanızın ekran
            görüntüsü&nbsp;ile birlikte size en yakın mağazamızdan
            yapabilirsiniz.
          </li>
          <li>
            Mağaza listemiz için www.eylulmodalife.web.tr adresinde&nbsp;"
            <strong>Mağazalarımız</strong>" bağlantısına tıklayabilirsiniz.
          </li>
        </ul>

        <ul>
          <li><strong>Ürün Yanlış Geldi Ne Yapmalıyım?</strong></li>
          <li>
            Yanlış gelen ürün için, Hesabım --&gt; Siparişlerim sayfasından
            ilgili siparişinizin&nbsp; "Sipariş Durumu" sütununda bulunan "İade
            Et" bağlantısına tıklayarak iade talebi oluşturmanız gerekmektedir.
            Daha sonra ürünü faturanız ile beraber en yakın Aras Kargo ofisine
            teslim ederek aşağıda bulunan iade adresimize ücretsiz olarak
            yollayınız. Ürününüz teslim alındığında e-mail ile
            bilgilendirileceksiniz ve iade kabul edildiğinde siparişte
            kullandığınız ödeme metodu kullanılarak geri ödemeniz
            gerçekleştirilecektir.
          </li>
        </ul>
        <ul>
          <li>
            <strong>Ürünüm Kırık Geldi Ne Yapmalıyım?</strong><br />
            Ürününüzün kargo kaynaklı kırık veya hasarlı olduğunu teslim alırken
            tespit ettiyseniz “Hasar Tespit Tutanağı” tutturmanız gereklidir.
            Eğer, Hasar Tespit Tutanağı tutturamadıysanız, ürünü teslim
            aldığınız gün, tüm kırık parçaların bir arada olduğu fotoğrafı
            <a href="mailto:eylulmodalife@gmail.com" tabindex="42"
              >internetsatis&#64;eylulmodalife.web.tr</a
            >
            mail adresine sipariş numaranız ve ürün özel kodları - adetleri ile
            göndermeniz gerekmektedir. Hasarlı olan ürünlerinizi &nbsp;“Defolu
            Ürün” iade talebi oluşturarak kırık/hasarlı parçalar ve faturası ile
            birlikte bize geri göndermeniz halinde iade işlemi başlatılacaktır.
            &nbsp;
          </li>
        </ul>

        <ul>
          <li>
            <strong
              >Kırılacak ürünleri iade gönderirken nasıl paketlemeliyim?</strong
            >
          </li>
          <li>
            İade etmek istediğiniz ürünü, siparişinizin size gönderildiği gibi
            kırılmadan bize ulaşması için paketleme malzemeleri ile paketleyerek
            bize gönderebilirsiniz. İade edilecek olan ürününüzü kargoya teslim
            ederken kırılacak eşya bilgisi vermenizi rica ederiz.
          </li>
        </ul>
        <strong>Görüntülü İade ve Koşulları</strong>
        <ul>
          <li>
            “Defolu/Kırık Ürün, Takımı Bozuk Ürün, Yanlış Ürün” konularıyla
            ilgili 350 TL ve altı ürünlerinizin iade talepleri için ürünü teslim
            alma tarihi itibariyle 7 gün içinde ve “Ürün kalite” konusu için ise
            30 gün içinde aşağıdaki adımları takip ederek konuyu bize
            iletebilirsiniz.
          </li>
          <li>
            <strong
              >350 TL ve üstü ürünlerinizde standart iade süreci işletilecektir.
            </strong>
          </li>
          <li>
            Whatsapp, Webchat hizmet kanalımızdan veya iletişim formu üzerinden
            ürününüzün
            <strong
              >“iç etiketi, barkodu, ürünün tam görseli ve üründe bir hata varsa
              hatanın görseli”</strong
            >
            gözükecek şekilde tarafımıza iletmelidir. (Takımı bozuk ürünler için
            görsel iletilmesine gerek yoktur) Konu incelendikten sonra sizinle
            iletişime geçebilmemiz için GSM No ve E-Posta bilgilerinizi
            paylaşmanız gerekmektedir.
          </li>
          <li>
            Whatsapp, Webchat iletişim kanalımızdan görüntülü görüşme hizmetiyle
            görüşme esnasında ürününüz göstererek iade talebinde
            bulunabilirsiniz.
          </li>
        </ul>
        <p>
          Görüntülü iade hizmetimiz için hafta içi saat 09:00-22:00 ve cumartesi
          günü 09:00-18:00 saatlerinde
          <a tabindex="43">buraya</a> Whatsapp'tan bizlerle iletişime
          geçebilirsiniz
        </p>
        <strong>2. Ürün Ücretinin Tarafınıza İade Edilmesi</strong>
        <ul>
          <li>
            Ürün/ürünleriniz bize ulaştıktan sonra incelenir ve iade koşullarına
            uygun olduğu takdirde kabul edilerek siparişteki ödeme metodunuza
            göre geri ödemeniz gerçekleştirilir.
          </li>
          <li>
            İade işleminiz gerçekleştiğinde&nbsp;tarafınıza e-posta ve sms yolu
            ile bilgi verilmektedir.
          </li>
          <li>
            Geri ödemenizin hesabınıza yansıma süresi bankanıza göre değişiklik
            gösterecektir. Lütfen hesabınıza kontrol etmeyi unutmayınız.
          </li>
          <li>
            Mağazalarımıza yapacağınız iadelerde geri ödeme, siparişte
            kullandığınız ödeme metodu kullanılarak gerçekleştirilmektedir.
            Ancak&nbsp;kapıda nakit ödeme methodu ile oluşturulan siparişlerin
            geri ödemesi IBAN bilgileriniz alınarak banka hesabınıza
            yapılmaktadır. IBAN'a aktarılan tutar 3 iş günü içerisinde hesaba
            aktarılmaktadır. Kapıda nakit ödemeli siparişlerin iadesi nakit
            olarak ödenememektedir.
          </li>
        </ul>

        <p>
          <strong>İade Adresimiz:</strong><br />
          Eylül Modalife Mağazacılık Hiz. Tic. A.Ş.&nbsp;<br />
          Fatih Mahallesi 57. Ziraat Caddesi 27 A Aksaray/Türkiye
          <br />
        </p>
        <p></p>
      </div>
    </div>
    <div class="col-sm-9 col-md-9" id="faqSearchList"></div>
  </div>
</div>
